In [2]:
import pandas as pd
import numpy as np

In [291]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# **Loading Global Stock Exchange Dataset**

In [3]:
gse = pd.read_csv('/content/drive/MyDrive/Stock Sentiment /New folder/Global Stock Exchange Dataset/ubhr4gkgiq8ose09jh77.csv')

In [4]:
print(gse.shape)
gse.head(1)

(80489, 16)

                   Sub-Sector Super Region  ...  Date Value Period Value
0  GLOBAL STOCK EXCHANGE DATA  GLOBAL DATA  ...  2021-03-05            d

[1 rows x 16 columns]

In [5]:
gse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80489 entries, 0 to 80488
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sub-Sector       80489 non-null  object
 1   Super Region     80489 non-null  object
 2   Sector           80489 non-null  object
 3   Stock Attribute  80489 non-null  object
 4   Ticker           80489 non-null  object
 5   Currency         80489 non-null  object
 6   Time Level       80489 non-null  object
 7   Data Provider    80489 non-null  object
 8   Source           80489 non-null  object
 9   Stock Exchange   80489 non-null  object
 10  Stock Name       80489 non-null  object
 11  Location         80489 non-null  object
 12  Super Region.1   80489 non-null  object
 13  Value            80489 non-null  float64
 14  Date Value       80489 non-null  object
 15  Period Value     80489 non-null  object
dtypes: float64(1), object(15)
memory usage: 9.8+ MB

In [6]:
gse['Date Value']=pd.to_datetime(gse['Date Value'])

In [7]:
gse['month']=pd.DatetimeIndex(gse['Date Value']).month
gse['year']=pd.DatetimeIndex(gse['Date Value']).year

In [8]:
conditions = [
    (gse['month'] <= 3),
    (gse['month'] > 3) & (gse['month'] <= 6),
    (gse['month'] > 6) & (gse['month'] <= 9),
    (gse['month'] > 9)
    ]

values = ['Q1', 'Q2', 'Q3', 'Q4']

gse['fiscal_quarter'] = np.select(conditions, values)

In [9]:
gse['yearQuar']=gse['year'].astype(str)+gse['fiscal_quarter']

In [10]:
gse=gse.add_suffix('_gse')

In [11]:
gse.head(1)

               Sub-Sector_gse Super Region_gse  ... fiscal_quarter_gse yearQuar_gse
0  GLOBAL STOCK EXCHANGE DATA      GLOBAL DATA  ...                 Q1       2021Q1

[1 rows x 20 columns]

In [12]:
gse1=gse[['Ticker_gse','Currency_gse','Stock Name_gse','Value_gse','Date Value_gse','yearQuar_gse']]
gse1.head(1)

  Ticker_gse Currency_gse  ... Date Value_gse  yearQuar_gse
0        VLO          USD  ...     2021-03-05        2021Q1

[1 rows x 6 columns]

# **Loading Stock Market Indicators & Index**

In [13]:
stk_mkt_indic=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Stock Market Indicators& Index/s58huu468597q4324lj0.csv')
print(stk_mkt_indic.shape)
stk_mkt_indic.head(1)

(13483, 13)

                        Sub-Sector   Super Region  ...  Date Value Period Value
0  STOCK MARKET INDICATORS & INDEX  UNITED STATES  ...  2021-03-17            d

[1 rows x 13 columns]

In [14]:
stk_mkt_indic['Super Region'].value_counts()

UNITED STATES    13483
Name: Super Region, dtype: int64

In [15]:
stk_mkt_indic1=stk_mkt_indic[['Description','Value','Date Value']]
stk_mkt_indic1.head(2)

                 Description   Value  Date Value
0  DOW JONES UTILITY AVERAGE  847.92  2021-03-17
1  DOW JONES UTILITY AVERAGE  859.04  2021-03-16

In [16]:
stk_mkt_indic1['Date Value']=pd.to_datetime(stk_mkt_indic1['Date Value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
stk_mkt_indic1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13483 entries, 0 to 13482
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Description  13483 non-null  object
 1   Value        13483 non-null  float64
 2   Date Value   13483 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 316.1+ KB

In [18]:
stk_mkt_indic2=stk_mkt_indic1.pivot(index='Date Value',columns='Description', values='Value')

In [19]:
stk_mkt_indic2.reset_index(inplace=True)

stk_mkt_indic2.columns

Index(['Date Value', 'DOW JONES COMPOSITE AVERAGE',
       'DOW JONES INDUSTRIAL AVERAGE', 'DOW JONES TRANSPORTATION AVERAGE',
       'DOW JONES UTILITY AVERAGE', 'S&P 500'],
      dtype='object', name='Description')

In [20]:
stk_mkt_indic2.head(2)

Description Date Value  ...  S&P 500
0           2009-10-31  ...  1185.64
1           2009-11-01  ...  1199.73

[2 rows x 6 columns]

In [21]:
stk_mkt_indic2['Date Value']=pd.to_datetime(stk_mkt_indic2['Date Value'])
stk_mkt_indic2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2697 entries, 0 to 2696
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date Value                        2697 non-null   datetime64[ns]
 1   DOW JONES COMPOSITE AVERAGE       2697 non-null   float64
 2   DOW JONES INDUSTRIAL AVERAGE      2697 non-null   float64
 3   DOW JONES TRANSPORTATION AVERAGE  2697 non-null   float64
 4   DOW JONES UTILITY AVERAGE         2697 non-null   float64
 5   S&P 500                           2695 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 126.5 KB

In [22]:
df2=pd.merge(gse1,stk_mkt_indic2,how="left",left_on="Date Value_gse",right_on="Date Value")
df2.drop(columns=['Date Value'],inplace=True)

In [23]:
df2.shape

(80489, 11)

In [24]:
df2.head(2)

  Ticker_gse Currency_gse  ... DOW JONES UTILITY AVERAGE  S&P 500
0        VLO          USD  ...                    814.03  3841.94
1        VLO          USD  ...                    800.17  3768.47

[2 rows x 11 columns]

# **Loading Google Mobility Index Data**

In [25]:
mobility_index=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Google Mobility Index/2d0lk12k3iko98reg4dl.csv')
print(mobility_index.shape)
mobility_index.head(2)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,4,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(3253186, 15)

              Sub-Sector Super Region  ...  Date Value Period Value
0  GOOGLE MOBILITY INDEX  GLOBAL DATA  ...  2021-03-13            d
1  GOOGLE MOBILITY INDEX  GLOBAL DATA  ...  2021-03-12            d

[2 rows x 15 columns]

In [26]:
mobility_index['Date Value']=pd.to_datetime(mobility_index['Date Value'])

In [27]:
mobility_index_usa=mobility_index[mobility_index['Country Region']=='UNITED STATES']
mobility_index_usa.shape

(525582, 15)

In [28]:
mobility_index_usa=mobility_index_usa[['Indicator','Value','Date Value']]
mobility_index_usa.head(2)

                                 Indicator  Value Date Value
124586  PARKS PERCENT CHANGE FROM BASELINE   14.0 2021-03-13
124587  PARKS PERCENT CHANGE FROM BASELINE   16.0 2021-03-12

In [29]:
mobility_index_usa1=mobility_index_usa.pivot_table(index='Date Value',columns='Indicator',values='Value')

In [30]:
mobility_index_usa1.reset_index(inplace=True)
mobility_index_usa1.columns

Index(['Date Value', 'GROCERY AND PHARMACY PERCENT CHANGE FROM BASELINE',
       'PARKS PERCENT CHANGE FROM BASELINE',
       'RESIDENTIAL PERCENT CHANGE FROM BASELINE',
       'RETAIL AND RECREATION PERECENT CHANGE FROM BASELINE',
       'TRANSIT STATIONS PERCENT CHANGE FROM BASELINE',
       'WORKPLACES PERCENT CHANGE FROM BASELINE'],
      dtype='object', name='Indicator')

In [31]:
df3=pd.merge(df2,mobility_index_usa1,how="left",left_on="Date Value_gse",right_on="Date Value")

In [32]:
df3.shape

(80489, 18)

In [33]:
df3.head(2)

  Ticker_gse  ... WORKPLACES PERCENT CHANGE FROM BASELINE
0        VLO  ...                              -17.755716
1        VLO  ...                              -18.311765

[2 rows x 18 columns]

In [34]:
df3.to_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/merge1.csv')

# **Loading Jodi-Oil Data**

In [34]:
jodi_oil=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Jodi Oil Data/h4sb9s0uhfr4vaoa7v17.csv')
print(jodi_oil.shape)
jodi_oil.head(2)

(18106, 13)

                Sub-Sector Super Region  ...  Date Value Period Value
0  JODI OIL-WORLD DATABASE  GLOBAL DATA  ...  2020-07-01            d
1  JODI OIL-WORLD DATABASE  GLOBAL DATA  ...  2020-06-01            d

[2 rows x 13 columns]

In [35]:
jodi_oil['Unit of Measurement'].value_counts()

THOUSAND BARRELS PER DAY(KB-D)    18106
Name: Unit of Measurement, dtype: int64

In [36]:
jodi_oil_usa=jodi_oil[jodi_oil['Country']=='UNITED STATES']
jodi_oil_usa=jodi_oil_usa[['Value','Date Value']]
jodi_oil_usa.add_suffix('_jodi')
jodi_oil_usa.shape

(223, 2)

In [37]:
jodi_oil_usa.head(2)

          Value  Date Value
15720  18309.48  2020-07-01
15721  17727.77  2020-06-01

In [38]:
jodi_oil_usa['Date Value']=pd.to_datetime(jodi_oil_usa['Date Value'])

In [39]:
jodi_oil_usa['month']=pd.DatetimeIndex(jodi_oil_usa['Date Value']).month
jodi_oil_usa['year']=pd.DatetimeIndex(jodi_oil_usa['Date Value']).year

In [40]:
df3['month']=pd.DatetimeIndex(df3['Date Value_gse']).month
df3['year']=pd.DatetimeIndex(df3['Date Value_gse']).year

In [41]:
jodi_oil_usa=jodi_oil_usa.add_suffix('_jodi')

In [42]:
jodi_oil_usa.head(2)

       Value_jodi Date Value_jodi  month_jodi  year_jodi
15720    18309.48      2020-07-01           7       2020
15721    17727.77      2020-06-01           6       2020

In [43]:
df4=pd.merge(df3,jodi_oil_usa,how="left",left_on=['month','year'],
             right_on=['month_jodi','year_jodi'])

In [44]:
df4.head(2)

  Ticker_gse Currency_gse  ... month_jodi  year_jodi
0        VLO          USD  ...        NaN        NaN
1        VLO          USD  ...        NaN        NaN

[2 rows x 24 columns]

In [45]:
df4.shape

(80489, 24)

In [46]:
df4.drop(columns=['Date Value','month','year','Date Value_jodi','month_jodi','year_jodi'],inplace=True)

In [47]:
df4.head(2)

  Ticker_gse Currency_gse  ... WORKPLACES PERCENT CHANGE FROM BASELINE  Value_jodi
0        VLO          USD  ...                              -17.755716         NaN
1        VLO          USD  ...                              -18.311765         NaN

[2 rows x 18 columns]

# **Loading Short term Energy outlook data**

In [48]:
short_energy=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/SHORT TERM ENERGY OUTLOOK/8ilqmr24qtrr3f5s8f8j.csv')
print(short_energy.shape)
short_energy.head(2)

(515877, 13)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                  Sub-Sector Super Region  ...  Date Value Period Value
0  SHORT-TERM ENERGY OUTLOOK  GLOBAL DATA  ...  2022-12-31            q
1  SHORT-TERM ENERGY OUTLOOK  GLOBAL DATA  ...  2022-03-31            q

[2 rows x 13 columns]

In [49]:
short_energy_usa=short_energy[short_energy['Sub-Sector Level 2']=='UNITED STATES']
short_energy_usa.shape

(213047, 13)

In [50]:
short_energy_usa=short_energy_usa[short_energy_usa['Time Level']=='MONTHLY']
short_energy_usa.shape

(170114, 13)

In [51]:
#short_energy['Unit'].value_counts()

In [52]:
short_energy_usa['Sub-Sector Level 3'].value_counts()

REAL GROSS DOMESTIC PRODUCT                                           792
DISTILLATE-WEIGHTED INDUSTRIAL PRODUCTION INDEX                       792
NATURAL GAS-WEIGHTED INDUSTRIAL PRODUCTION INDEX                      792
REAL DISPOSABLE PERSONAL INCOME                                       792
MANUFACTURING PRODUCTION INDEX                                        792
                                                                     ...
INDUSTRIAL SECTOR CONSUMPTION OF CONVENTIONAL HYDROELECTRIC ENERGY     30
COMMERCIAL SECTOR CONSUMPTION OF NON-WOOD WASTE BIOMASS ENERGY         10
HYDROGEN AND OTHER HYDROCARBONS NET IMPORTS                             5
INDUSTRIAL SECTOR GENERATION FROM DISTILLATE FUEL OIL                   4
TOTAL PETROLEUM CONSUMED FOR GENERATION IN COMMERCIAL SECTOR            2
Name: Sub-Sector Level 3, Length: 452, dtype: int64

In [53]:
short_energy_usa=short_energy_usa[(short_energy_usa['Sub-Sector Level 3']=='U.S. TOTAL ENERGY CONSUMPTION')|
                                  (short_energy_usa['Sub-Sector Level 3']=='COAL PRODUCTION TOTAL U.S.')|
                                  (short_energy_usa['Sub-Sector Level 3']=='U.S. CRUDE OIL PRODUCTION')]

In [54]:
#COAL PRODUCTION TOTAL U.S. - million short tons
#U.S. TOTAL ENERGY CONSUMPTION - QUADRILLION BTU
#U.S. CRUDE OIL PRODUCTION - MILLION BARRELS PER DAY

In [55]:
short_energy_usa.shape

(1056, 13)

In [56]:
short_energy_usa.head(1)

                      Sub-Sector Super Region  ...  Date Value Period Value
11409  SHORT-TERM ENERGY OUTLOOK  GLOBAL DATA  ...  2022-12-31            m

[1 rows x 13 columns]

In [57]:
short_energy_usa1=short_energy_usa[['Sub-Sector Level 3','Unit','Time Level','Date Value','Value']]
short_energy_usa1.head(2)

               Sub-Sector Level 3                Unit  ...  Date Value  Value
11409  COAL PRODUCTION TOTAL U.S.  MILLION SHORT TONS  ...  2022-12-31  47.66
11410  COAL PRODUCTION TOTAL U.S.  MILLION SHORT TONS  ...  2022-11-30  46.51

[2 rows x 5 columns]

In [58]:
short_energy_usa1=short_energy_usa1.pivot_table(columns='Sub-Sector Level 3',values='Value',index='Date Value')
short_energy_usa1.head(2)

Sub-Sector Level 3  COAL PRODUCTION TOTAL U.S.  ...  U.S. TOTAL ENERGY CONSUMPTION
Date Value                                      ...
1990-01-31                               90.56  ...                            NaN
1990-02-28                               82.02  ...                            NaN

[2 rows x 3 columns]

In [59]:
short_energy_usa1.reset_index(inplace=True)
short_energy_usa1=short_energy_usa1.add_suffix('_shortene')

In [60]:
short_energy_usa1.head(2)

Sub-Sector Level 3 Date Value_shortene  ...  U.S. TOTAL ENERGY CONSUMPTION_shortene
0                           1990-01-31  ...                                     NaN
1                           1990-02-28  ...                                     NaN

[2 rows x 4 columns]

In [61]:
short_energy_usa1['Date Value_shortene']=pd.to_datetime(short_energy_usa1['Date Value_shortene'])

In [62]:
short_energy_usa1['month']=pd.DatetimeIndex(short_energy_usa1['Date Value_shortene']).month
short_energy_usa1['year']=pd.DatetimeIndex(short_energy_usa1['Date Value_shortene']).year

In [63]:
short_energy_usa1.head(2)

Sub-Sector Level 3 Date Value_shortene  ...  year
0                           1990-01-31  ...  1990
1                           1990-02-28  ...  1990

[2 rows x 6 columns]

In [64]:
df4['month']=pd.DatetimeIndex(df4['Date Value_gse']).month
df4['year']=pd.DatetimeIndex(df4['Date Value_gse']).year

In [65]:
df5=pd.merge(df4,short_energy_usa1,how="left",on=['year','month'])

In [66]:
print(df5.shape)
df5.head(2)

(80489, 24)

  Ticker_gse  ... U.S. TOTAL ENERGY CONSUMPTION_shortene
0        VLO  ...                                   8.49
1        VLO  ...                                   8.49

[2 rows x 24 columns]

In [67]:
# Jodi value units - THOUSAND BARRELS PER DAY(KB-D)

# **Loading Interest rates data**

In [68]:
interest_rates=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Interest Rates/91asr3i8sfbqoh9vq8c3.csv')
print(interest_rates.shape)
interest_rates.head(2)

(3784, 13)

       Sub-Sector Super Region  ...  Date Value Period Value
0  INTEREST RATES  GLOBAL DATA  ...  2020-12-31            a
1  INTEREST RATES  GLOBAL DATA  ...  2019-12-31            a

[2 rows x 13 columns]

In [296]:
interest_rates[['Source']].value_counts()

Source
OECD      1495
dtype: int64

In [69]:
interest_rates=interest_rates[interest_rates['Region']=='UNITED STATES']
interest_rates=interest_rates[(interest_rates['Indicator']=='LONG-TERM INTEREST RATES')|(interest_rates['Indicator']=='SHORT-TERM INTEREST RATES')]
interest_rates.shape

(2048, 13)

In [70]:
interest_rates=interest_rates[interest_rates['Frequency']=='M']
interest_rates.shape

(1495, 13)

In [71]:
interest_rates1=interest_rates[['Measure','Indicator','Value','Date Value']]
interest_rates1.head(2)

                Measure                  Indicator  Value  Date Value
1722  PERCENT PER ANNUM  SHORT-TERM INTEREST RATES   0.15  2019-12-08
1723  PERCENT PER ANNUM  SHORT-TERM INTEREST RATES   0.18  2019-12-07

In [72]:
interest_rates1=interest_rates1.pivot_table(index='Date Value',columns='Indicator',values='Value')
interest_rates1=interest_rates1.reset_index()
interest_rates1.head(2)

Indicator  Date Value  LONG-TERM INTEREST RATES  SHORT-TERM INTEREST RATES
0          1953-04-30                      2.83                        NaN
1          1953-05-31                      3.05                        NaN

In [73]:
interest_rates1['Date Value']=pd.to_datetime(interest_rates1['Date Value'])
interest_rates1['month']=pd.DatetimeIndex(interest_rates1['Date Value']).month
interest_rates1['year']=pd.DatetimeIndex(interest_rates1['Date Value']).year

In [74]:
interest_rates1=interest_rates1.add_suffix('_interates')

In [75]:
interest_rates1.head(2)

Indicator Date Value_interates  ...  year_interates
0                   1953-04-30  ...            1953
1                   1953-05-31  ...            1953

[2 rows x 5 columns]

In [76]:
interest_rates1.shape

(815, 5)

In [77]:
df6=pd.merge(df5,interest_rates1,how="left",left_on=['month','year'],right_on=['month_interates','year_interates'])
df6.drop(columns=['Date Value_shortene','Date Value_interates','month_interates','year_interates'],inplace=True)
print(df6.shape)
df6.head(2)
#interest rates measure level - percent per annum

(80909, 25)

  Ticker_gse  ... SHORT-TERM INTEREST RATES_interates
0        VLO  ...                                 NaN
1        VLO  ...                                 NaN

[2 rows x 25 columns]

# **Loading Energy Future Prices Data**

In [99]:
energy_futurep=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Energy Future Prices/3mkohk9h3ttrtcr6250j.csv')
print(energy_futurep.shape)
energy_futurep.head(2)

(2522602, 16)

              Sub-Sector  Product Id  ...  Date Value Period Value
0  ENERGY FUTURES PRICES       20036  ...  2019-09-25            d
1  ENERGY FUTURES PRICES       20036  ...  2019-09-24            d

[2 rows x 16 columns]

In [100]:
energy_futurep_usa=energy_futurep[energy_futurep['Exchange Country']=='UNITED STATES OF AMERICA']
energy_futurep_usa.shape

(5739, 16)

In [101]:
energy_futurep_usa=energy_futurep_usa[energy_futurep_usa['Product Description']=='SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP']

In [102]:
energy_futurep_usa.shape

(5302, 16)

In [103]:
energy_futurep_usa1=energy_futurep_usa[['Product Description','Value','Date Value']]
energy_futurep_usa1.head()

                           Product Description  Value  Date Value
0  SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP   0.24  2019-09-25
1  SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP   0.23  2019-09-24
2  SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP   0.24  2019-09-23
3  SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP   0.32  2019-09-20
4  SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP   0.23  2019-09-19

In [104]:
energy_futurep_usa1['Date Value']=pd.to_datetime(energy_futurep_usa1['Date Value'])
energy_futurep_usa1=energy_futurep_usa1.sort_values(by='Date Value')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [105]:
energy_futurep_usa1=energy_futurep_usa1.drop_duplicates(['Date Value'])
energy_futurep_usa1.shape

(572, 3)

In [97]:
energy_futurep_usa1.head()

                           Product Description  Value  Date Value
0  SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP   0.24  2019-09-25
1  SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP   0.23  2019-09-24
2  SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP   0.24  2019-09-23
3  SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP   0.32  2019-09-20
4  SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP   0.23  2019-09-19

In [106]:
energy_futurep_usa1['Date Value'].value_counts()

2020-04-13    1
2019-07-10    1
2019-05-30    1
2019-08-29    1
2019-03-08    1
             ..
2018-11-19    1
2018-09-18    1
2018-07-18    1
2018-05-17    1
2018-12-21    1
Name: Date Value, Length: 572, dtype: int64

In [107]:
energy_futurep_usa1=energy_futurep_usa1.pivot(index='Date Value', columns='Product Description', values='Value')
energy_futurep_usa1=energy_futurep_usa1.reset_index()
energy_futurep_usa1.head(2)

Product Description Date Value  SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP
0                   2017-12-22                                         0.16
1                   2017-12-26                                         0.22

In [108]:
energy_futurep_usa1['Date Value']=pd.to_datetime(energy_futurep_usa1['Date Value'])
energy_futurep_usa1['month']=pd.DatetimeIndex(energy_futurep_usa1['Date Value']).month
energy_futurep_usa1['year']=pd.DatetimeIndex(energy_futurep_usa1['Date Value']).year

In [112]:
energy_futurep_usa1=energy_futurep_usa1.add_suffix('_enerfutup')

In [113]:
energy_futurep_usa1.head(2)

Product Description Date Value_enerfutup  ...  year_enerfutup
0                             2017-12-22  ...            2017
1                             2017-12-26  ...            2017

[2 rows x 4 columns]

In [111]:
df6.head(2)

  Ticker_gse  ... SHORT-TERM INTEREST RATES_interates
0        VLO  ...                                 NaN
1        VLO  ...                                 NaN

[2 rows x 25 columns]

In [115]:
df7=pd.merge(df6,energy_futurep_usa1,how="left",left_on=["Date Value_gse"],right_on=['Date Value_enerfutup']
             )
df7.drop(columns=['Date Value_enerfutup','month_enerfutup','year_enerfutup'],inplace=True)
print(df7.shape)
df7.head(2)

(80909, 26)

  Ticker_gse  ... SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP_enerfutup
0        VLO  ...                                                NaN
1        VLO  ...                                                NaN

[2 rows x 26 columns]

# **Loading Commodity Prices Data**

In [119]:
comm_price=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Commodity Prices/5m7ivmo8f9callebascq.csv')
print(comm_price.shape)
comm_price.head(2)

(132741, 11)

         Sub-Sector Super Region  ...  Date Value Period Value
0  COMMODITY PRICES  GLOBAL DATA  ...  2021-03-15            d
1  COMMODITY PRICES  GLOBAL DATA  ...  2021-03-12            d

[2 rows x 11 columns]

In [120]:
comm_price1=comm_price[['Commodity And Exchange','Value','Date Value']]

In [122]:
comm_price2=comm_price1[comm_price1['Commodity And Exchange']=='BRENT CRUDE OIL (DOLLARS PER BARREL)']
comm_price2.shape

(8587, 3)

In [126]:
comm_price2=comm_price2.pivot_table(index='Date Value',columns='Commodity And Exchange',values='Value')
comm_price2=comm_price2.reset_index()
comm_price2.head(2)

Commodity And Exchange  Date Value  BRENT CRUDE OIL (DOLLARS PER BARREL)
0                       1987-05-20                                 18.63
1                       1987-05-21                                 18.45

In [123]:
comm_price3=comm_price1[comm_price1['Commodity And Exchange']=='WTI CRUDE OIL (DOLLARS PER BARREL)']
comm_price3.shape

(8870, 3)

In [127]:
comm_price3=comm_price3.pivot_table(index='Date Value',columns='Commodity And Exchange',values='Value')
comm_price3=comm_price3.reset_index()
comm_price3.head(2)

Commodity And Exchange  Date Value  WTI CRUDE OIL (DOLLARS PER BARREL)
0                       1986-01-02                               25.56
1                       1986-01-03                               26.00

In [128]:
df_crude=pd.merge(comm_price2,comm_price3,how="inner",on="Date Value")
df_crude.shape

(8451, 3)

In [129]:
df_crude.head(2)

Commodity And Exchange  Date Value  ...  WTI CRUDE OIL (DOLLARS PER BARREL)
0                       1987-05-20  ...                               19.75
1                       1987-05-21  ...                               19.95

[2 rows x 3 columns]

In [130]:
df_crude['Date Value']=pd.to_datetime(df_crude['Date Value'])
#df_crude['month']=pd.DatetimeIndex(df_crude['Date Value']).month
#df_crude['year']=pd.DatetimeIndex(df_crude['Date Value']).year

In [131]:
df8=pd.merge(df7,df_crude,how="left",left_on='Date Value_gse',right_on='Date Value')
df8.drop(columns=['Date Value'],inplace=True)
print(df8.shape)
df8.head(2)

(80909, 28)

  Ticker_gse  ... WTI CRUDE OIL (DOLLARS PER BARREL)
0        VLO  ...                              66.08
1        VLO  ...                              63.81

[2 rows x 28 columns]

In [132]:
df8.to_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/merge2.csv')

# **Loading Financial Statements table**

In [244]:
fs = pd.read_csv('/content/drive/MyDrive/Stock Sentiment /New folder/Financial Statements/tfbc7uv2ki8eonic5q3g.csv')
print(fs.shape)
fs.head(1)

(15567, 19)

    Super Region            Sector  ...  Date Value Period Value
0  UNITED STATES  FINANCIAL MARKET  ...  2019-12-31            d

[1 rows x 19 columns]

In [245]:
fs['Industry Level 2'].value_counts()

OIL & GAS - E&P                     6022
OIL & GAS - INTEGRATED              4903
OIL & GAS - REFINING & MARKETING    4236
OIL & GAS - SERVICES                 406
Name: Industry Level 2, dtype: int64

In [246]:
fs['Time Level'].value_counts()

QUARTER    12200
ANNUAL      3367
Name: Time Level, dtype: int64

In [247]:
fs=fs[fs['Time Level']=='QUARTER']
fs.shape

(12200, 19)

In [248]:
fs1=fs[['Ticker','Company Name','Industry Level 2','Financial Metric','Date Value','Value']]
fs1.head(1)

   Ticker                    Company Name  ...  Date Value        Value
11    MPC  MARATHON PETROLEUM CORPORATION  ...  2020-06-30  746000000.0

[1 rows x 6 columns]

In [259]:
fs2=fs1.pivot_table(index=['Ticker','Date Value'],columns=['Financial Metric'],values=['Value'])
#fs2=fs2.reset_index()
fs2.head(2)

                                Value  ...
Financial Metric  CONSOLIDATED INCOME  ... WEIGHTED AVERAGE SHS OUT (DIL)
Ticker Date Value                      ...
BHGE   2016-09-30          91000000.0  ...                            NaN
       2016-12-31          -2000000.0  ...                            NaN

[2 rows x 31 columns]

In [260]:
fs2.columns = fs2.columns.droplevel(0)
fs2 = fs2.reset_index().rename_axis(None, axis=1)
fs2.head(2)

  Ticker  Date Value  ...  WEIGHTED AVERAGE SHS OUT  WEIGHTED AVERAGE SHS OUT (DIL)
0   BHGE  2016-09-30  ...                       NaN                             NaN
1   BHGE  2016-12-31  ...              1.145142e+09                             NaN

[2 rows x 33 columns]

In [261]:
#fs2[fs2['Ticker']=='XOM']
# this has 2 results for 2012 Q4. (December and November)
# Taking only december

In [262]:
fs2['Date Value']=pd.to_datetime(fs2['Date Value'])

In [263]:
fs2['month']=pd.DatetimeIndex(fs2['Date Value']).month
fs2['year']=pd.DatetimeIndex(fs2['Date Value']).year

In [264]:
conditions = [
    (fs2['month'] <= 3),
    (fs2['month'] > 3) & (fs2['month'] <= 6),
    (fs2['month'] > 6) & (fs2['month'] <= 9),
    (fs2['month'] > 9)
    ]

values = ['Q1', 'Q2', 'Q3', 'Q4']

fs2['fiscal_quarter'] = np.select(conditions, values)

In [265]:
fs2['yearQuar']=fs2['year'].astype(str)+fs2['fiscal_quarter']
fs2.head(1)

  Ticker Date Value  CONSOLIDATED INCOME  ...  year  fiscal_quarter  yearQuar
0   BHGE 2016-09-30           91000000.0  ...  2016              Q3    2016Q3

[1 rows x 37 columns]

In [266]:
fs2[(fs2['Ticker']=='XOM')&(fs2['yearQuar']=='2012Q4')]

    Ticker Date Value  CONSOLIDATED INCOME  ...  year  fiscal_quarter  yearQuar
433    XOM 2012-11-06        -2.536000e+10  ...  2012              Q4    2012Q4
434    XOM 2012-12-31         4.488000e+10  ...  2012              Q4    2012Q4

[2 rows x 37 columns]

In [267]:
fs2=fs2.sort_values(by=['Ticker','Date Value'],ascending=False)

In [268]:
fs2=fs2.drop_duplicates(['Ticker','yearQuar'])
fs2.drop(columns=['month','year'],inplace=True)

In [269]:
fs2[(fs2['Ticker']=='XOM')&(fs2['yearQuar']=='2012Q4')]

    Ticker Date Value  ...  fiscal_quarter  yearQuar
434    XOM 2012-12-31  ...              Q4    2012Q4

[1 rows x 35 columns]

In [270]:
df9=pd.merge(df8,fs2,how="left",left_on=['Ticker_gse','yearQuar_gse'],right_on=['Ticker','yearQuar'])
print(df9.shape)
df9.drop(columns=['fiscal_quarter','yearQuar','Date Value','Ticker'],inplace=True)
df9.head(2)

(80909, 63)

  Ticker_gse  ... WEIGHTED AVERAGE SHS OUT (DIL)
0        VLO  ...                            NaN
1        VLO  ...                            NaN

[2 rows x 59 columns]

# **Loading Financial Statement Ratios Data**

In [277]:
fsr=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Financial Statement Ratios/i2h52hilsvgnu37f39ac.csv')
print(fsr.shape)
fsr.head(2)

(96493, 18)

    Super Region            Sector Ticker  ...  Value  Date Value Period Value
0  UNITED STATES  FINANCIAL MARKET     BP  ...  17.61  2018-11-02            d
1  UNITED STATES  FINANCIAL MARKET     BP  ...  20.56  2017-11-02            d

[2 rows x 18 columns]

In [278]:
fsr=fsr[fsr['Time Level']=='QUARTER']
fsr1=fsr[['Ticker','Company Performance Indicator','Value','Date Value']]
fsr1.head(1)

  Ticker Company Performance Indicator  Value  Date Value
0     BP             NET INCOME GROWTH  17.61  2018-11-02

In [279]:
fsr2=fsr1.pivot_table(index=['Ticker','Date Value'],columns=['Company Performance Indicator'],values=['Value'])
#fs2=fs2.reset_index()
fsr2.head(2)

                                     Value  ...
Company Performance Indicator ASSET GROWTH  ... WORKING CAPITAL
Ticker Date Value                           ...
BHGE   2008-11-02                      NaN  ...             NaN
       2008-12-06                      NaN  ...             NaN

[2 rows x 84 columns]

In [280]:
fsr2.columns = fsr2.columns.droplevel(0)
fsr2 = fsr2.reset_index().rename_axis(None, axis=1)
fsr2.head(2)

  Ticker  Date Value  ...  WEIGHTED AVERAGE SHARES GROWTH  WORKING CAPITAL
0   BHGE  2008-11-02  ...                             NaN              NaN
1   BHGE  2008-12-06  ...                             NaN              NaN

[2 rows x 86 columns]

In [281]:
fsr2['Date Value']=pd.to_datetime(fsr2['Date Value'])
fsr2['month']=pd.DatetimeIndex(fsr2['Date Value']).month
fsr2['year']=pd.DatetimeIndex(fsr2['Date Value']).year

In [282]:
conditions = [
    (fsr2['month'] <= 3),
    (fsr2['month'] > 3) & (fsr2['month'] <= 6),
    (fsr2['month'] > 6) & (fsr2['month'] <= 9),
    (fsr2['month'] > 9)
    ]

values = ['Q1', 'Q2', 'Q3', 'Q4']

fsr2['fiscal_quarter'] = np.select(conditions, values)

In [283]:
fsr2['yearQuar']=fsr2['year'].astype(str)+fsr2['fiscal_quarter']
fsr2.head(1)

  Ticker Date Value  ASSET GROWTH  ...  year  fiscal_quarter  yearQuar
0   BHGE 2008-11-02           NaN  ...  2008              Q4    2008Q4

[1 rows x 90 columns]

In [284]:
fsr2[['Ticker','yearQuar']].value_counts()

Ticker  yearQuar
MRO     2010Q4      17
        2009Q4      16
        2011Q4      16
        2013Q4      13
        2014Q4      13
                    ..
OXY     1999Q1       1
        1998Q4       1
        1998Q3       1
        1998Q2       1
XOM     2020Q2       1
Length: 1096, dtype: int64

In [285]:
fsr2[(fsr2['Ticker']=='MRO')&(fsr2['yearQuar']=='2010Q4')]

    Ticker Date Value  ASSET GROWTH  ...  year  fiscal_quarter  yearQuar
952    MRO 2010-10-01           NaN  ...  2010              Q4    2010Q4
953    MRO 2010-10-02           NaN  ...  2010              Q4    2010Q4
954    MRO 2010-10-30           NaN  ...  2010              Q4    2010Q4
955    MRO 2010-10-31           NaN  ...  2010              Q4    2010Q4
956    MRO 2010-11-01           NaN  ...  2010              Q4    2010Q4
957    MRO 2010-11-02          1.58  ...  2010              Q4    2010Q4
958    MRO 2010-11-27           NaN  ...  2010              Q4    2010Q4
959    MRO 2010-12-01           NaN  ...  2010              Q4    2010Q4
960    MRO 2010-12-02           NaN  ...  2010              Q4    2010Q4
961    MRO 2010-12-03          1.86  ...  2010              Q4    2010Q4
962    MRO 2010-12-04           NaN  ...  2010              Q4    2010Q4
963    MRO 2010-12-05           NaN  ...  2010              Q4    2010Q4
964    MRO 2010-12-06          1.68  ...  2010              Q4    2010Q4
965    MRO 2010-12-07           NaN  ...  2010              Q4    2010Q4
966    MRO 2010-12-08           NaN  ...  2010              Q4    2010Q4
967    MRO 2010-12-09          1.57  ...  2010              Q4    2010Q4
968    MRO 2010-12-31          0.04  ...  2010              Q4    2010Q4

[17 rows x 90 columns]

In [286]:
fsr2.sort_values(by=['Ticker','Date Value'],ascending=False,inplace=True)
fsr2=fsr2.drop_duplicates(['Ticker','yearQuar'])

In [287]:
fsr2[(fsr2['Ticker']=='MRO')&(fsr2['yearQuar']=='2010Q4')]

    Ticker Date Value  ASSET GROWTH  ...  year  fiscal_quarter  yearQuar
968    MRO 2010-12-31          0.04  ...  2010              Q4    2010Q4

[1 rows x 90 columns]

In [288]:
fsr2[['Ticker','yearQuar']].value_counts()

Ticker  yearQuar
XOM     2020Q2      1
EOG     2012Q3      1
        2011Q1      1
        2011Q2      1
        2011Q3      1
                   ..
PSX     2018Q4      1
        2018Q3      1
        2018Q2      1
        2018Q1      1
BHGE    2008Q4      1
Length: 1096, dtype: int64

In [289]:
fsr2.drop(columns=['month',	'year','fiscal_quarter','Date Value'],inplace=True)

In [293]:
df10=pd.merge(df9,fsr2,how="left",left_on=['Ticker_gse','yearQuar_gse'],right_on=['Ticker','yearQuar'])
df10.drop(columns=['Ticker','yearQuar'],inplace=True)
print(df10.shape)

(80909, 143)

In [294]:
df10.head(2)

,Ticker_gse,Currency_gse,Stock Name_gse,Value_gse,Date Value_gse,yearQuar_gse,DOW JONES COMPOSITE AVERAGE,DOW JONES INDUSTRIAL AVERAGE,DOW JONES TRANSPORTATION AVERAGE,DOW JONES UTILITY AVERAGE,S&P 500,GROCERY AND PHARMACY PERCENT CHANGE FROM BASELINE,PARKS PERCENT CHANGE FROM BASELINE,RESIDENTIAL PERCENT CHANGE FROM BASELINE,RETAIL AND RECREATION PERECENT CHANGE FROM BASELINE,TRANSIT STATIONS PERCENT CHANGE FROM BASELINE,WORKPLACES PERCENT CHANGE FROM BASELINE,Value_jodi,month,year,COAL PRODUCTION TOTAL U.S._shortene,U.S. CRUDE OIL PRODUCTION_shortene,U.S. TOTAL ENERGY CONSUMPTION_shortene,LONG-TERM INTEREST RATES_interates,SHORT-TERM INTEREST RATES_interates,SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP_enerfutup,BRENT CRUDE OIL (DOLLARS PER BARREL),WTI CRUDE OIL (DOLLARS PER BARREL),CONSOLIDATED INCOME,COST OF REVENUE,DIVIDEND PER SHARE,EARNINGS BEFORE TAX,EARNINGS BEFORE TAX MARGIN,EBIT,EBIT MARGIN,EBITDA,EBITDA MARGIN,EPS,EPS DILUTED,FREE CASH FLOW MARGIN,GROSS MARGIN,GROSS PROFIT,INCOME TAX EXPENSE,INTEREST EXPENSE,NET INCOME,NET INCOME - DISCONTINUED OPS,NET INCOME - NON-CONTROLLING INT,NET INCOME COM,NET PROFIT MARGIN,OPERATING EXPENSES,OPERATING INCOME,PREFERRED DIVIDENDS,PROFIT MARGIN,R&D EXPENSES,REVENUE,REVENUE GROWTH,SG&A EXPENSE,WEIGHTED AVERAGE SHS OUT,WEIGHTED AVERAGE SHS OUT (DIL),ASSET GROWTH,AVERAGE INVENTORY,AVERAGE PAYABLES,AVERAGE RECEIVABLES,BOOK VALUE PER SHARE,BOOK VALUE PER SHARE GROWTH,CAPEX PER SHARE,CAPEX TO DEPRECIATION,CAPEX TO OPERATING CASH FLOW,CAPEX TO REVENUE,CASH CONVERSION CYCLE,CASH PER SHARE,CURRENT RATIO,DAYS OF INVENTORY OUTSTANDING,DAYS OF PAYABLES OUTSTANDING,DAYS OF SALES OUTSTANDING,DEBT EQUITY RATIO,DEBT GROWTH,DEBT RATIO,DEBT TO ASSETS,DEBT TO EQUITY,DIVIDEND YIELD,DIVIDENDS PER SHARE GROWTH,EARNINGS YIELD,EBIT GROWTH,ENTERPRISE VALUE,ENTERPRISE VALUE OVER EBITDA,EPS DILUTED GROWTH,EPS GROWTH,EV TO FREE CASH FLOW,EV TO OPERATING CASH FLOW,EV TO SALES,FREE CASH FLOW GROWTH,FREE CASH FLOW PER SHARE,FREE CASH FLOW YIELD,GRAHAM NET-NET,GRAHAM NUMBER,GROSS PROFIT GROWTH,INCOME QUALITY,INTANGIBLES TO TOTAL ASSETS,INTEREST COVERAGE,INTEREST DEBT PER SHARE,INVENTORY GROWTH,INVENTORY TURNOVER,INVESTED CAPITAL,MARKET CAP,NET CURRENT ASSET VALUE,NET DEBT TO EBITDA,NET INCOME GROWTH,NET INCOME PER SHARE,OPERATING CASH FLOW GROWTH,OPERATING CASH FLOW PER SHARE,OPERATING CYCLE,OPERATING INCOME GROWTH,PAYABLES TURNOVER,PAYOUT RATIO,PB RATIO,PE RATIO,PFCF RATIO,POCF RATIO,PRICE BOOK VALUERATIO,PRICE EARNINGS RATIO,PRICE TO BOOK RATIO,PRICE TO FREE CASH FLOWS RATIO,PRICE TO OPERATING CASH FLOWS RATIO,PRICE TO SALES RATIO,PTB RATIO,R&D EXPENSE GROWTH,R&D TO REVENUE,RECEIVABLES GROWTH,RECEIVABLES TURNOVER,RETURN ON ASSETS,RETURN ON CAPITAL EMPLOYED,RETURN ON EQUITY,REVENUE PER SHARE,SG&A EXPENSES GROWTH,SG&A TO REVENUE,SHAREHOLDERS EQUITY PER SHARE,STOCK-BASED COMPENSATION TO REVENUE,TANGIBLE ASSET VALUE,TANGIBLE BOOK VALUE PER SHARE,WEIGHTED AVERAGE SHARES DILUTED GROWTH,WEIGHTED AVERAGE SHARES GROWTH,WORKING CAPITAL
0,VLO,USD,VALERO ENERGY CORPORATION,79.03,2021-03-05,2021Q1,10435.92,31496.30,13627.98,814.03,3841.94,-5.058824,1.060465,6.376050,-15.416667,-24.074074,-17.755716,NaN,3,2021,56.25,13.56,8.49,NaN,NaN,NaN,69.95,66.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VLO,USD,VALERO ENERGY CORPORATION,76.37,2021-03-04,2021Q1,10213.87,30924.14,13219.66,800.17,3768.47,-1.941176,6.283422,5.812245,-13.250000,-23.730769,-18.311765,NaN,3,2021,56.25,13.56,8.49,NaN,NaN,NaN,67.32,63.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [295]:
df10.to_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/merge3.csv')

# **Loading News Sentiment Indices**

In [313]:
news_pandemic=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Sentiment Index/news-sentiment-index-pandemic.csv')
print(news_pandemic.shape)
news_pandemic.head(2)

(137, 3)

              DateTime  Index  Count
0  2002-08-01 00:00:00   -0.4      1
1  2003-05-01 00:00:00   -0.2      1

In [314]:
news_pandemic=news_pandemic[['DateTime','Index']]
news_pandemic.rename(columns={"Index":"pandemic_index"},inplace=True)
news_pandemic['DateTime']=pd.to_datetime(news_pandemic['DateTime'])

In [315]:
news_pandemic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DateTime        137 non-null    datetime64[ns]
 1   pandemic_index  128 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.3 KB

In [316]:
df11=pd.merge(df10,news_pandemic,how="left",left_on='Date Value_gse',right_on=['DateTime'])
df11.drop(columns=['DateTime'],inplace=True)

In [317]:
print(df11.shape)
df11.head(2)

(80909, 144)

,Ticker_gse,Currency_gse,Stock Name_gse,Value_gse,Date Value_gse,yearQuar_gse,DOW JONES COMPOSITE AVERAGE,DOW JONES INDUSTRIAL AVERAGE,DOW JONES TRANSPORTATION AVERAGE,DOW JONES UTILITY AVERAGE,S&P 500,GROCERY AND PHARMACY PERCENT CHANGE FROM BASELINE,PARKS PERCENT CHANGE FROM BASELINE,RESIDENTIAL PERCENT CHANGE FROM BASELINE,RETAIL AND RECREATION PERECENT CHANGE FROM BASELINE,TRANSIT STATIONS PERCENT CHANGE FROM BASELINE,WORKPLACES PERCENT CHANGE FROM BASELINE,Value_jodi,month,year,COAL PRODUCTION TOTAL U.S._shortene,U.S. CRUDE OIL PRODUCTION_shortene,U.S. TOTAL ENERGY CONSUMPTION_shortene,LONG-TERM INTEREST RATES_interates,SHORT-TERM INTEREST RATES_interates,SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP_enerfutup,BRENT CRUDE OIL (DOLLARS PER BARREL),WTI CRUDE OIL (DOLLARS PER BARREL),CONSOLIDATED INCOME,COST OF REVENUE,DIVIDEND PER SHARE,EARNINGS BEFORE TAX,EARNINGS BEFORE TAX MARGIN,EBIT,EBIT MARGIN,EBITDA,EBITDA MARGIN,EPS,EPS DILUTED,FREE CASH FLOW MARGIN,GROSS MARGIN,GROSS PROFIT,INCOME TAX EXPENSE,INTEREST EXPENSE,NET INCOME,NET INCOME - DISCONTINUED OPS,NET INCOME - NON-CONTROLLING INT,NET INCOME COM,NET PROFIT MARGIN,OPERATING EXPENSES,OPERATING INCOME,PREFERRED DIVIDENDS,PROFIT MARGIN,R&D EXPENSES,REVENUE,REVENUE GROWTH,SG&A EXPENSE,WEIGHTED AVERAGE SHS OUT,WEIGHTED AVERAGE SHS OUT (DIL),ASSET GROWTH,AVERAGE INVENTORY,AVERAGE PAYABLES,AVERAGE RECEIVABLES,BOOK VALUE PER SHARE,BOOK VALUE PER SHARE GROWTH,CAPEX PER SHARE,CAPEX TO DEPRECIATION,CAPEX TO OPERATING CASH FLOW,CAPEX TO REVENUE,CASH CONVERSION CYCLE,CASH PER SHARE,CURRENT RATIO,DAYS OF INVENTORY OUTSTANDING,DAYS OF PAYABLES OUTSTANDING,DAYS OF SALES OUTSTANDING,DEBT EQUITY RATIO,DEBT GROWTH,DEBT RATIO,DEBT TO ASSETS,DEBT TO EQUITY,DIVIDEND YIELD,DIVIDENDS PER SHARE GROWTH,EARNINGS YIELD,EBIT GROWTH,ENTERPRISE VALUE,ENTERPRISE VALUE OVER EBITDA,EPS DILUTED GROWTH,EPS GROWTH,EV TO FREE CASH FLOW,EV TO OPERATING CASH FLOW,EV TO SALES,FREE CASH FLOW GROWTH,FREE CASH FLOW PER SHARE,FREE CASH FLOW YIELD,GRAHAM NET-NET,GRAHAM NUMBER,GROSS PROFIT GROWTH,INCOME QUALITY,INTANGIBLES TO TOTAL ASSETS,INTEREST COVERAGE,INTEREST DEBT PER SHARE,INVENTORY GROWTH,INVENTORY TURNOVER,INVESTED CAPITAL,MARKET CAP,NET CURRENT ASSET VALUE,NET DEBT TO EBITDA,NET INCOME GROWTH,NET INCOME PER SHARE,OPERATING CASH FLOW GROWTH,OPERATING CASH FLOW PER SHARE,OPERATING CYCLE,OPERATING INCOME GROWTH,PAYABLES TURNOVER,PAYOUT RATIO,PB RATIO,PE RATIO,PFCF RATIO,POCF RATIO,PRICE BOOK VALUERATIO,PRICE EARNINGS RATIO,PRICE TO BOOK RATIO,PRICE TO FREE CASH FLOWS RATIO,PRICE TO OPERATING CASH FLOWS RATIO,PRICE TO SALES RATIO,PTB RATIO,R&D EXPENSE GROWTH,R&D TO REVENUE,RECEIVABLES GROWTH,RECEIVABLES TURNOVER,RETURN ON ASSETS,RETURN ON CAPITAL EMPLOYED,RETURN ON EQUITY,REVENUE PER SHARE,SG&A EXPENSES GROWTH,SG&A TO REVENUE,SHAREHOLDERS EQUITY PER SHARE,STOCK-BASED COMPENSATION TO REVENUE,TANGIBLE ASSET VALUE,TANGIBLE BOOK VALUE PER SHARE,WEIGHTED AVERAGE SHARES DILUTED GROWTH,WEIGHTED AVERAGE SHARES GROWTH,WORKING CAPITAL,pandemic_index
0,VLO,USD,VALERO ENERGY CORPORATION,79.03,2021-03-05,2021Q1,10435.92,31496.30,13627.98,814.03,3841.94,-5.058824,1.060465,6.376050,-15.416667,-24.074074,-17.755716,NaN,3,2021,56.25,13.56,8.49,NaN,NaN,NaN,69.95,66.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VLO,USD,VALERO ENERGY CORPORATION,76.37,2021-03-04,2021Q1,10213.87,30924.14,13219.66,800.17,3768.47,-1.941176,6.283422,5.812245,-13.250000,-23.730769,-18.311765,NaN,3,2021,56.25,13.56,8.49,NaN,NaN,NaN,67.32,63.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [318]:
news_ev=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Sentiment Index/news-sentiment-index-electricvehicle.csv')
print(news_ev.shape)
news_ev.head(2)

(7714, 3)

              DateTime  Index  Count
0  2000-02-07 00:00:00    NaN      1
1  2000-02-08 00:00:00    NaN      0

In [319]:
news_ev=news_ev[['DateTime','Index']]
news_ev.rename(columns={"Index":"ev_index"},inplace=True)
news_ev['DateTime']=pd.to_datetime(news_ev['DateTime'])

In [309]:
df12=pd.merge(df11,news_ev,how="left",left_on='Date Value_gse',right_on=['DateTime'])
df12.drop(columns=['DateTime'],inplace=True)
print(df12.shape)
df12.head(1)

(80909, 145)

,Ticker_gse,Currency_gse,Stock Name_gse,Value_gse,Date Value_gse,yearQuar_gse,DOW JONES COMPOSITE AVERAGE,DOW JONES INDUSTRIAL AVERAGE,DOW JONES TRANSPORTATION AVERAGE,DOW JONES UTILITY AVERAGE,S&P 500,GROCERY AND PHARMACY PERCENT CHANGE FROM BASELINE,PARKS PERCENT CHANGE FROM BASELINE,RESIDENTIAL PERCENT CHANGE FROM BASELINE,RETAIL AND RECREATION PERECENT CHANGE FROM BASELINE,TRANSIT STATIONS PERCENT CHANGE FROM BASELINE,WORKPLACES PERCENT CHANGE FROM BASELINE,Value_jodi,month,year,COAL PRODUCTION TOTAL U.S._shortene,U.S. CRUDE OIL PRODUCTION_shortene,U.S. TOTAL ENERGY CONSUMPTION_shortene,LONG-TERM INTEREST RATES_interates,SHORT-TERM INTEREST RATES_interates,SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP_enerfutup,BRENT CRUDE OIL (DOLLARS PER BARREL),WTI CRUDE OIL (DOLLARS PER BARREL),CONSOLIDATED INCOME,COST OF REVENUE,DIVIDEND PER SHARE,EARNINGS BEFORE TAX,EARNINGS BEFORE TAX MARGIN,EBIT,EBIT MARGIN,EBITDA,EBITDA MARGIN,EPS,EPS DILUTED,FREE CASH FLOW MARGIN,GROSS MARGIN,GROSS PROFIT,INCOME TAX EXPENSE,INTEREST EXPENSE,NET INCOME,NET INCOME - DISCONTINUED OPS,NET INCOME - NON-CONTROLLING INT,NET INCOME COM,NET PROFIT MARGIN,OPERATING EXPENSES,OPERATING INCOME,PREFERRED DIVIDENDS,PROFIT MARGIN,R&D EXPENSES,REVENUE,REVENUE GROWTH,SG&A EXPENSE,WEIGHTED AVERAGE SHS OUT,WEIGHTED AVERAGE SHS OUT (DIL),ASSET GROWTH,AVERAGE INVENTORY,AVERAGE PAYABLES,AVERAGE RECEIVABLES,BOOK VALUE PER SHARE,BOOK VALUE PER SHARE GROWTH,CAPEX PER SHARE,CAPEX TO DEPRECIATION,CAPEX TO OPERATING CASH FLOW,CAPEX TO REVENUE,CASH CONVERSION CYCLE,CASH PER SHARE,CURRENT RATIO,DAYS OF INVENTORY OUTSTANDING,DAYS OF PAYABLES OUTSTANDING,DAYS OF SALES OUTSTANDING,DEBT EQUITY RATIO,DEBT GROWTH,DEBT RATIO,DEBT TO ASSETS,DEBT TO EQUITY,DIVIDEND YIELD,DIVIDENDS PER SHARE GROWTH,EARNINGS YIELD,EBIT GROWTH,ENTERPRISE VALUE,ENTERPRISE VALUE OVER EBITDA,EPS DILUTED GROWTH,EPS GROWTH,EV TO FREE CASH FLOW,EV TO OPERATING CASH FLOW,EV TO SALES,FREE CASH FLOW GROWTH,FREE CASH FLOW PER SHARE,FREE CASH FLOW YIELD,GRAHAM NET-NET,GRAHAM NUMBER,GROSS PROFIT GROWTH,INCOME QUALITY,INTANGIBLES TO TOTAL ASSETS,INTEREST COVERAGE,INTEREST DEBT PER SHARE,INVENTORY GROWTH,INVENTORY TURNOVER,INVESTED CAPITAL,MARKET CAP,NET CURRENT ASSET VALUE,NET DEBT TO EBITDA,NET INCOME GROWTH,NET INCOME PER SHARE,OPERATING CASH FLOW GROWTH,OPERATING CASH FLOW PER SHARE,OPERATING CYCLE,OPERATING INCOME GROWTH,PAYABLES TURNOVER,PAYOUT RATIO,PB RATIO,PE RATIO,PFCF RATIO,POCF RATIO,PRICE BOOK VALUERATIO,PRICE EARNINGS RATIO,PRICE TO BOOK RATIO,PRICE TO FREE CASH FLOWS RATIO,PRICE TO OPERATING CASH FLOWS RATIO,PRICE TO SALES RATIO,PTB RATIO,R&D EXPENSE GROWTH,R&D TO REVENUE,RECEIVABLES GROWTH,RECEIVABLES TURNOVER,RETURN ON ASSETS,RETURN ON CAPITAL EMPLOYED,RETURN ON EQUITY,REVENUE PER SHARE,SG&A EXPENSES GROWTH,SG&A TO REVENUE,SHAREHOLDERS EQUITY PER SHARE,STOCK-BASED COMPENSATION TO REVENUE,TANGIBLE ASSET VALUE,TANGIBLE BOOK VALUE PER SHARE,WEIGHTED AVERAGE SHARES DILUTED GROWTH,WEIGHTED AVERAGE SHARES GROWTH,WORKING CAPITAL,pandemic_index,ev_index
0,VLO,USD,VALERO ENERGY CORPORATION,79.03,2021-03-05,2021Q1,10435.92,31496.3,13627.98,814.03,3841.94,-5.058824,1.060465,6.37605,-15.416667,-24.074074,-17.755716,NaN,3,2021,56.25,13.56,8.49,NaN,NaN,NaN,69.95,66.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.211111

In [323]:
news_uselections=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Sentiment Index/news-sentiment-index-uselections.csv')
print(news_uselections.shape)
news_uselections.head(2)

(30, 3)

              DateTime  Index  Count
0  2016-06-01 00:00:00   -0.7      1
1  2016-09-01 00:00:00    NaN      1

In [324]:
news_uselections=news_uselections[['DateTime','Index']]
news_uselections.rename(columns={"Index":"uselections_index"},inplace=True)
news_uselections['DateTime']=pd.to_datetime(news_uselections['DateTime'])

In [325]:
df13=pd.merge(df12,news_uselections,how="left",left_on='Date Value_gse',right_on=['DateTime'])
df13.drop(columns=['DateTime'],inplace=True)
print(df13.shape)
df13.head(1)

(80909, 146)

,Ticker_gse,Currency_gse,Stock Name_gse,Value_gse,Date Value_gse,yearQuar_gse,DOW JONES COMPOSITE AVERAGE,DOW JONES INDUSTRIAL AVERAGE,DOW JONES TRANSPORTATION AVERAGE,DOW JONES UTILITY AVERAGE,S&P 500,GROCERY AND PHARMACY PERCENT CHANGE FROM BASELINE,PARKS PERCENT CHANGE FROM BASELINE,RESIDENTIAL PERCENT CHANGE FROM BASELINE,RETAIL AND RECREATION PERECENT CHANGE FROM BASELINE,TRANSIT STATIONS PERCENT CHANGE FROM BASELINE,WORKPLACES PERCENT CHANGE FROM BASELINE,Value_jodi,month,year,COAL PRODUCTION TOTAL U.S._shortene,U.S. CRUDE OIL PRODUCTION_shortene,U.S. TOTAL ENERGY CONSUMPTION_shortene,LONG-TERM INTEREST RATES_interates,SHORT-TERM INTEREST RATES_interates,SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP_enerfutup,BRENT CRUDE OIL (DOLLARS PER BARREL),WTI CRUDE OIL (DOLLARS PER BARREL),CONSOLIDATED INCOME,COST OF REVENUE,DIVIDEND PER SHARE,EARNINGS BEFORE TAX,EARNINGS BEFORE TAX MARGIN,EBIT,EBIT MARGIN,EBITDA,EBITDA MARGIN,EPS,EPS DILUTED,FREE CASH FLOW MARGIN,GROSS MARGIN,GROSS PROFIT,INCOME TAX EXPENSE,INTEREST EXPENSE,NET INCOME,NET INCOME - DISCONTINUED OPS,NET INCOME - NON-CONTROLLING INT,NET INCOME COM,NET PROFIT MARGIN,OPERATING EXPENSES,OPERATING INCOME,PREFERRED DIVIDENDS,PROFIT MARGIN,R&D EXPENSES,REVENUE,REVENUE GROWTH,SG&A EXPENSE,WEIGHTED AVERAGE SHS OUT,WEIGHTED AVERAGE SHS OUT (DIL),ASSET GROWTH,AVERAGE INVENTORY,AVERAGE PAYABLES,AVERAGE RECEIVABLES,BOOK VALUE PER SHARE,BOOK VALUE PER SHARE GROWTH,CAPEX PER SHARE,CAPEX TO DEPRECIATION,CAPEX TO OPERATING CASH FLOW,CAPEX TO REVENUE,CASH CONVERSION CYCLE,CASH PER SHARE,CURRENT RATIO,DAYS OF INVENTORY OUTSTANDING,DAYS OF PAYABLES OUTSTANDING,DAYS OF SALES OUTSTANDING,DEBT EQUITY RATIO,DEBT GROWTH,DEBT RATIO,DEBT TO ASSETS,DEBT TO EQUITY,DIVIDEND YIELD,DIVIDENDS PER SHARE GROWTH,EARNINGS YIELD,EBIT GROWTH,ENTERPRISE VALUE,ENTERPRISE VALUE OVER EBITDA,EPS DILUTED GROWTH,EPS GROWTH,EV TO FREE CASH FLOW,EV TO OPERATING CASH FLOW,EV TO SALES,FREE CASH FLOW GROWTH,FREE CASH FLOW PER SHARE,FREE CASH FLOW YIELD,GRAHAM NET-NET,GRAHAM NUMBER,GROSS PROFIT GROWTH,INCOME QUALITY,INTANGIBLES TO TOTAL ASSETS,INTEREST COVERAGE,INTEREST DEBT PER SHARE,INVENTORY GROWTH,INVENTORY TURNOVER,INVESTED CAPITAL,MARKET CAP,NET CURRENT ASSET VALUE,NET DEBT TO EBITDA,NET INCOME GROWTH,NET INCOME PER SHARE,OPERATING CASH FLOW GROWTH,OPERATING CASH FLOW PER SHARE,OPERATING CYCLE,OPERATING INCOME GROWTH,PAYABLES TURNOVER,PAYOUT RATIO,PB RATIO,PE RATIO,PFCF RATIO,POCF RATIO,PRICE BOOK VALUERATIO,PRICE EARNINGS RATIO,PRICE TO BOOK RATIO,PRICE TO FREE CASH FLOWS RATIO,PRICE TO OPERATING CASH FLOWS RATIO,PRICE TO SALES RATIO,PTB RATIO,R&D EXPENSE GROWTH,R&D TO REVENUE,RECEIVABLES GROWTH,RECEIVABLES TURNOVER,RETURN ON ASSETS,RETURN ON CAPITAL EMPLOYED,RETURN ON EQUITY,REVENUE PER SHARE,SG&A EXPENSES GROWTH,SG&A TO REVENUE,SHAREHOLDERS EQUITY PER SHARE,STOCK-BASED COMPENSATION TO REVENUE,TANGIBLE ASSET VALUE,TANGIBLE BOOK VALUE PER SHARE,WEIGHTED AVERAGE SHARES DILUTED GROWTH,WEIGHTED AVERAGE SHARES GROWTH,WORKING CAPITAL,pandemic_index,ev_index,uselections_index
0,VLO,USD,VALERO ENERGY CORPORATION,79.03,2021-03-05,2021Q1,10435.92,31496.3,13627.98,814.03,3841.94,-5.058824,1.060465,6.37605,-15.416667,-24.074074,-17.755716,NaN,3,2021,56.25,13.56,8.49,NaN,NaN,NaN,69.95,66.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.211111,NaN

In [326]:
news_covid=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Sentiment Index/news-sentiment-index-covid.csv')
print(news_covid.shape)
news_covid=news_covid[['DateTime','Index']]
news_covid.rename(columns={"Index":"covid_index"},inplace=True)
news_covid['DateTime']=pd.to_datetime(news_covid['DateTime'])

(48, 3)

In [327]:
df14=pd.merge(df13,news_covid,how="left",left_on='Date Value_gse',right_on=['DateTime'])
df14.drop(columns=['DateTime'],inplace=True)
print(df14.shape)
df14.head(1)

(80909, 147)

,Ticker_gse,Currency_gse,Stock Name_gse,Value_gse,Date Value_gse,yearQuar_gse,DOW JONES COMPOSITE AVERAGE,DOW JONES INDUSTRIAL AVERAGE,DOW JONES TRANSPORTATION AVERAGE,DOW JONES UTILITY AVERAGE,S&P 500,GROCERY AND PHARMACY PERCENT CHANGE FROM BASELINE,PARKS PERCENT CHANGE FROM BASELINE,RESIDENTIAL PERCENT CHANGE FROM BASELINE,RETAIL AND RECREATION PERECENT CHANGE FROM BASELINE,TRANSIT STATIONS PERCENT CHANGE FROM BASELINE,WORKPLACES PERCENT CHANGE FROM BASELINE,Value_jodi,month,year,COAL PRODUCTION TOTAL U.S._shortene,U.S. CRUDE OIL PRODUCTION_shortene,U.S. TOTAL ENERGY CONSUMPTION_shortene,LONG-TERM INTEREST RATES_interates,SHORT-TERM INTEREST RATES_interates,SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP_enerfutup,BRENT CRUDE OIL (DOLLARS PER BARREL),WTI CRUDE OIL (DOLLARS PER BARREL),CONSOLIDATED INCOME,COST OF REVENUE,DIVIDEND PER SHARE,EARNINGS BEFORE TAX,EARNINGS BEFORE TAX MARGIN,EBIT,EBIT MARGIN,EBITDA,EBITDA MARGIN,EPS,EPS DILUTED,FREE CASH FLOW MARGIN,GROSS MARGIN,GROSS PROFIT,INCOME TAX EXPENSE,INTEREST EXPENSE,NET INCOME,NET INCOME - DISCONTINUED OPS,NET INCOME - NON-CONTROLLING INT,NET INCOME COM,NET PROFIT MARGIN,OPERATING EXPENSES,OPERATING INCOME,PREFERRED DIVIDENDS,PROFIT MARGIN,R&D EXPENSES,REVENUE,REVENUE GROWTH,SG&A EXPENSE,WEIGHTED AVERAGE SHS OUT,WEIGHTED AVERAGE SHS OUT (DIL),ASSET GROWTH,AVERAGE INVENTORY,AVERAGE PAYABLES,AVERAGE RECEIVABLES,BOOK VALUE PER SHARE,BOOK VALUE PER SHARE GROWTH,CAPEX PER SHARE,CAPEX TO DEPRECIATION,CAPEX TO OPERATING CASH FLOW,CAPEX TO REVENUE,CASH CONVERSION CYCLE,CASH PER SHARE,CURRENT RATIO,DAYS OF INVENTORY OUTSTANDING,DAYS OF PAYABLES OUTSTANDING,DAYS OF SALES OUTSTANDING,DEBT EQUITY RATIO,DEBT GROWTH,DEBT RATIO,DEBT TO ASSETS,DEBT TO EQUITY,DIVIDEND YIELD,DIVIDENDS PER SHARE GROWTH,EARNINGS YIELD,EBIT GROWTH,ENTERPRISE VALUE,ENTERPRISE VALUE OVER EBITDA,EPS DILUTED GROWTH,EPS GROWTH,EV TO FREE CASH FLOW,EV TO OPERATING CASH FLOW,EV TO SALES,FREE CASH FLOW GROWTH,FREE CASH FLOW PER SHARE,FREE CASH FLOW YIELD,GRAHAM NET-NET,GRAHAM NUMBER,GROSS PROFIT GROWTH,INCOME QUALITY,INTANGIBLES TO TOTAL ASSETS,INTEREST COVERAGE,INTEREST DEBT PER SHARE,INVENTORY GROWTH,INVENTORY TURNOVER,INVESTED CAPITAL,MARKET CAP,NET CURRENT ASSET VALUE,NET DEBT TO EBITDA,NET INCOME GROWTH,NET INCOME PER SHARE,OPERATING CASH FLOW GROWTH,OPERATING CASH FLOW PER SHARE,OPERATING CYCLE,OPERATING INCOME GROWTH,PAYABLES TURNOVER,PAYOUT RATIO,PB RATIO,PE RATIO,PFCF RATIO,POCF RATIO,PRICE BOOK VALUERATIO,PRICE EARNINGS RATIO,PRICE TO BOOK RATIO,PRICE TO FREE CASH FLOWS RATIO,PRICE TO OPERATING CASH FLOWS RATIO,PRICE TO SALES RATIO,PTB RATIO,R&D EXPENSE GROWTH,R&D TO REVENUE,RECEIVABLES GROWTH,RECEIVABLES TURNOVER,RETURN ON ASSETS,RETURN ON CAPITAL EMPLOYED,RETURN ON EQUITY,REVENUE PER SHARE,SG&A EXPENSES GROWTH,SG&A TO REVENUE,SHAREHOLDERS EQUITY PER SHARE,STOCK-BASED COMPENSATION TO REVENUE,TANGIBLE ASSET VALUE,TANGIBLE BOOK VALUE PER SHARE,WEIGHTED AVERAGE SHARES DILUTED GROWTH,WEIGHTED AVERAGE SHARES GROWTH,WORKING CAPITAL,pandemic_index,ev_index,uselections_index,covid_index
0,VLO,USD,VALERO ENERGY CORPORATION,79.03,2021-03-05,2021Q1,10435.92,31496.3,13627.98,814.03,3841.94,-5.058824,1.060465,6.37605,-15.416667,-24.074074,-17.755716,NaN,3,2021,56.25,13.56,8.49,NaN,NaN,NaN,69.95,66.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.211111,NaN,NaN

In [328]:
df14.to_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/merge4.csv')

In [329]:
news_valero=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Sentiment Index/news-sentiment-index_valero.csv')
print(news_valero.shape)
news_valero=news_valero[['DateTime','Index']]
news_valero.rename(columns={"Index":"valero_index"},inplace=True)
news_valero['DateTime']=pd.to_datetime(news_valero['DateTime'])

(69, 3)

In [330]:
news_exxon=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Sentiment Index/news-sentiment-index_exxon.csv')
print(news_exxon.shape)
news_exxon=news_exxon[['DateTime','Index']]
news_exxon.rename(columns={"Index":"exxon_index"},inplace=True)
news_exxon['DateTime']=pd.to_datetime(news_exxon['DateTime'])

(7537, 3)

In [345]:
df15=pd.merge(df14,news_exxon,how="left",left_on=['Date Value_gse'],right_on=['DateTime'])
df15.drop(columns=['DateTime'],inplace=True)
print(df15.shape)
df15.head(1)

(80909, 148)

,Ticker_gse,Currency_gse,Stock Name_gse,Value_gse,Date Value_gse,yearQuar_gse,DOW JONES COMPOSITE AVERAGE,DOW JONES INDUSTRIAL AVERAGE,DOW JONES TRANSPORTATION AVERAGE,DOW JONES UTILITY AVERAGE,S&P 500,GROCERY AND PHARMACY PERCENT CHANGE FROM BASELINE,PARKS PERCENT CHANGE FROM BASELINE,RESIDENTIAL PERCENT CHANGE FROM BASELINE,RETAIL AND RECREATION PERECENT CHANGE FROM BASELINE,TRANSIT STATIONS PERCENT CHANGE FROM BASELINE,WORKPLACES PERCENT CHANGE FROM BASELINE,Value_jodi,month,year,COAL PRODUCTION TOTAL U.S._shortene,U.S. CRUDE OIL PRODUCTION_shortene,U.S. TOTAL ENERGY CONSUMPTION_shortene,LONG-TERM INTEREST RATES_interates,SHORT-TERM INTEREST RATES_interates,SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP_enerfutup,BRENT CRUDE OIL (DOLLARS PER BARREL),WTI CRUDE OIL (DOLLARS PER BARREL),CONSOLIDATED INCOME,COST OF REVENUE,DIVIDEND PER SHARE,EARNINGS BEFORE TAX,EARNINGS BEFORE TAX MARGIN,EBIT,EBIT MARGIN,EBITDA,EBITDA MARGIN,EPS,EPS DILUTED,FREE CASH FLOW MARGIN,GROSS MARGIN,GROSS PROFIT,INCOME TAX EXPENSE,INTEREST EXPENSE,NET INCOME,NET INCOME - DISCONTINUED OPS,NET INCOME - NON-CONTROLLING INT,NET INCOME COM,NET PROFIT MARGIN,OPERATING EXPENSES,OPERATING INCOME,PREFERRED DIVIDENDS,PROFIT MARGIN,R&D EXPENSES,REVENUE,REVENUE GROWTH,SG&A EXPENSE,WEIGHTED AVERAGE SHS OUT,WEIGHTED AVERAGE SHS OUT (DIL),ASSET GROWTH,AVERAGE INVENTORY,AVERAGE PAYABLES,AVERAGE RECEIVABLES,BOOK VALUE PER SHARE,BOOK VALUE PER SHARE GROWTH,CAPEX PER SHARE,CAPEX TO DEPRECIATION,CAPEX TO OPERATING CASH FLOW,CAPEX TO REVENUE,CASH CONVERSION CYCLE,CASH PER SHARE,CURRENT RATIO,DAYS OF INVENTORY OUTSTANDING,DAYS OF PAYABLES OUTSTANDING,DAYS OF SALES OUTSTANDING,DEBT EQUITY RATIO,DEBT GROWTH,DEBT RATIO,DEBT TO ASSETS,DEBT TO EQUITY,DIVIDEND YIELD,DIVIDENDS PER SHARE GROWTH,EARNINGS YIELD,EBIT GROWTH,ENTERPRISE VALUE,ENTERPRISE VALUE OVER EBITDA,EPS DILUTED GROWTH,EPS GROWTH,EV TO FREE CASH FLOW,EV TO OPERATING CASH FLOW,EV TO SALES,FREE CASH FLOW GROWTH,FREE CASH FLOW PER SHARE,FREE CASH FLOW YIELD,GRAHAM NET-NET,GRAHAM NUMBER,GROSS PROFIT GROWTH,INCOME QUALITY,INTANGIBLES TO TOTAL ASSETS,INTEREST COVERAGE,INTEREST DEBT PER SHARE,INVENTORY GROWTH,INVENTORY TURNOVER,INVESTED CAPITAL,MARKET CAP,NET CURRENT ASSET VALUE,NET DEBT TO EBITDA,NET INCOME GROWTH,NET INCOME PER SHARE,OPERATING CASH FLOW GROWTH,OPERATING CASH FLOW PER SHARE,OPERATING CYCLE,OPERATING INCOME GROWTH,PAYABLES TURNOVER,PAYOUT RATIO,PB RATIO,PE RATIO,PFCF RATIO,POCF RATIO,PRICE BOOK VALUERATIO,PRICE EARNINGS RATIO,PRICE TO BOOK RATIO,PRICE TO FREE CASH FLOWS RATIO,PRICE TO OPERATING CASH FLOWS RATIO,PRICE TO SALES RATIO,PTB RATIO,R&D EXPENSE GROWTH,R&D TO REVENUE,RECEIVABLES GROWTH,RECEIVABLES TURNOVER,RETURN ON ASSETS,RETURN ON CAPITAL EMPLOYED,RETURN ON EQUITY,REVENUE PER SHARE,SG&A EXPENSES GROWTH,SG&A TO REVENUE,SHAREHOLDERS EQUITY PER SHARE,STOCK-BASED COMPENSATION TO REVENUE,TANGIBLE ASSET VALUE,TANGIBLE BOOK VALUE PER SHARE,WEIGHTED AVERAGE SHARES DILUTED GROWTH,WEIGHTED AVERAGE SHARES GROWTH,WORKING CAPITAL,pandemic_index,ev_index,uselections_index,covid_index,exxon_index
0,VLO,USD,VALERO ENERGY CORPORATION,79.03,2021-03-05,2021Q1,10435.92,31496.3,13627.98,814.03,3841.94,-5.058824,1.060465,6.37605,-15.416667,-24.074074,-17.755716,NaN,3,2021,56.25,13.56,8.49,NaN,NaN,NaN,69.95,66.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.211111,NaN,NaN,-0.433333

In [356]:
news_pioneer=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Sentiment Index/news-sentiment-index_pioneer.csv')
print(news_pioneer.shape)
news_pioneer=news_pioneer[['DateTime','Index']]
news_pioneer.rename(columns={"Index":"pioneer_index"},inplace=True)
news_pioneer['DateTime']=pd.to_datetime(news_pioneer['DateTime'])
news_pioneer['month']=pd.DatetimeIndex(news_pioneer['DateTime']).month
news_pioneer['year']=pd.DatetimeIndex(news_pioneer['DateTime']).year

(235, 3)

In [357]:
news_philips66=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Sentiment Index/news-sentiment-index_philips66.csv')
print(news_philips66.shape)
news_philips66=news_philips66[['DateTime','Index']]
news_philips66.rename(columns={"Index":"philips66_index"},inplace=True)
news_philips66['DateTime']=pd.to_datetime(news_philips66['DateTime'])
news_philips66['month']=pd.DatetimeIndex(news_philips66['DateTime']).month
news_philips66['year']=pd.DatetimeIndex(news_philips66['DateTime']).year

(42, 3)

In [358]:
news1=pd.merge(news_pioneer,news_philips66,how="outer",on=['month','year'])
print(news1.shape)
news1.drop(columns=['DateTime_x','DateTime_y'],inplace=True)
news1.head(1)

(235, 6)

   pioneer_index  month  year  philips66_index
0          -0.05      1  2000              NaN

In [359]:
news_occidental=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Sentiment Index/news-sentiment-index_occidental.csv')
print(news_occidental.shape)
news_occidental=news_occidental[['DateTime','Index']]
news_occidental.rename(columns={"Index":"occidental_index"},inplace=True)
news_occidental['DateTime']=pd.to_datetime(news_occidental['DateTime'])
news_occidental['month']=pd.DatetimeIndex(news_occidental['DateTime']).month
news_occidental['year']=pd.DatetimeIndex(news_occidental['DateTime']).year

(83, 3)

In [360]:
news2=pd.merge(news1,news_occidental,how="outer",on=['month','year'])
print(news2.shape)
news2.drop(columns=['DateTime'],inplace=True)
news2.head(1)

(236, 6)

   pioneer_index  month  year  philips66_index  occidental_index
0          -0.05      1  2000              NaN               NaN

In [361]:
news_marathon=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Sentiment Index/news-sentiment-index_marathon.csv')
print(news_marathon.shape)
news_marathon=news_marathon[['DateTime','Index']]
news_marathon.rename(columns={"Index":"marathon_index"},inplace=True)
news_marathon['DateTime']=pd.to_datetime(news_marathon['DateTime'])
news_marathon['month']=pd.DatetimeIndex(news_marathon['DateTime']).month
news_marathon['year']=pd.DatetimeIndex(news_marathon['DateTime']).year

(184, 3)

In [362]:
news3=pd.merge(news2,news_marathon,how="outer",on=['month','year'])
print(news3.shape)
news3.drop(columns=['DateTime'],inplace=True)
news3.head(1)

(244, 7)

   pioneer_index  month  year  philips66_index  occidental_index  marathon_index
0          -0.05      1  2000              NaN               NaN             NaN

In [363]:
news_conoco=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Sentiment Index/news-sentiment-index_conoco.csv')
print(news_conoco.shape)
news_conoco=news_conoco[['DateTime','Index']]
news_conoco.rename(columns={"Index":"conoco_index"},inplace=True)
news_conoco['DateTime']=pd.to_datetime(news_conoco['DateTime'])
news_conoco['month']=pd.DatetimeIndex(news_conoco['DateTime']).month
news_conoco['year']=pd.DatetimeIndex(news_conoco['DateTime']).year

(20, 3)

In [364]:
news4=pd.merge(news3,news_conoco,how="outer",on=['month','year'])
print(news4.shape)
news4.drop(columns=['DateTime'],inplace=True)
news4.head(1)

(244, 8)

   pioneer_index  month  year  philips66_index  occidental_index  marathon_index  conoco_index
0          -0.05      1  2000              NaN               NaN             NaN           NaN

In [366]:
news_chevron=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Sentiment Index/news-sentiment-index_chevron.csv')
print(news_chevron.shape)
news_chevron=news_chevron[['DateTime','Index']]
news_chevron.rename(columns={"Index":"chevron_index"},inplace=True)
news_chevron['DateTime']=pd.to_datetime(news_chevron['DateTime'])
news_chevron['month']=pd.DatetimeIndex(news_chevron['DateTime']).month
news_chevron['year']=pd.DatetimeIndex(news_chevron['DateTime']).year

(129, 3)

In [367]:
news5=pd.merge(news4,news_chevron,how="outer",on=['month','year'])
print(news5.shape)
news5.drop(columns=['DateTime'],inplace=True)
news5.head(1)

(245, 9)

   pioneer_index  month  year  philips66_index  occidental_index  marathon_index  conoco_index  chevron_index
0          -0.05      1  2000              NaN               NaN             NaN           NaN            NaN

In [368]:
news_bpplc=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Sentiment Index/news-sentiment-index_bpplc.csv')
print(news_bpplc.shape)
news_bpplc=news_bpplc[['DateTime','Index']]
news_bpplc.rename(columns={"Index":"bpplc_index"},inplace=True)
news_bpplc['DateTime']=pd.to_datetime(news_bpplc['DateTime'])
news_bpplc['month']=pd.DatetimeIndex(news_bpplc['DateTime']).month
news_bpplc['year']=pd.DatetimeIndex(news_bpplc['DateTime']).year

(149, 3)

In [370]:
news6=pd.merge(news5,news_bpplc,how="outer",on=['month','year'])
print(news6.shape)
news6.drop(columns=['DateTime'],inplace=True)
news6.head(1)

(246, 10)

   pioneer_index  month  year  philips66_index  occidental_index  marathon_index  conoco_index  chevron_index  bpplc_index
0          -0.05      1  2000              NaN               NaN             NaN           NaN            NaN          NaN

In [371]:
news6.rename(columns={'month':'month_news','year':'year_news'},inplace=True)

In [372]:
df16=pd.merge(df15,news6,how="left",left_on=['month','year'],right_on=['month_news','year_news'])
df16.drop(columns=['month_news','year_news'],inplace=True)
print(df16.shape)
df16.head(1)

(80909, 155)

,Ticker_gse,Currency_gse,Stock Name_gse,Value_gse,Date Value_gse,yearQuar_gse,DOW JONES COMPOSITE AVERAGE,DOW JONES INDUSTRIAL AVERAGE,DOW JONES TRANSPORTATION AVERAGE,DOW JONES UTILITY AVERAGE,S&P 500,GROCERY AND PHARMACY PERCENT CHANGE FROM BASELINE,PARKS PERCENT CHANGE FROM BASELINE,RESIDENTIAL PERCENT CHANGE FROM BASELINE,RETAIL AND RECREATION PERECENT CHANGE FROM BASELINE,TRANSIT STATIONS PERCENT CHANGE FROM BASELINE,WORKPLACES PERCENT CHANGE FROM BASELINE,Value_jodi,month,year,COAL PRODUCTION TOTAL U.S._shortene,U.S. CRUDE OIL PRODUCTION_shortene,U.S. TOTAL ENERGY CONSUMPTION_shortene,LONG-TERM INTEREST RATES_interates,SHORT-TERM INTEREST RATES_interates,SINGAPORE JET KERO VS SINGAPORE GASOIL SWAP_enerfutup,BRENT CRUDE OIL (DOLLARS PER BARREL),WTI CRUDE OIL (DOLLARS PER BARREL),CONSOLIDATED INCOME,COST OF REVENUE,DIVIDEND PER SHARE,EARNINGS BEFORE TAX,EARNINGS BEFORE TAX MARGIN,EBIT,EBIT MARGIN,EBITDA,EBITDA MARGIN,EPS,EPS DILUTED,FREE CASH FLOW MARGIN,GROSS MARGIN,GROSS PROFIT,INCOME TAX EXPENSE,INTEREST EXPENSE,NET INCOME,NET INCOME - DISCONTINUED OPS,NET INCOME - NON-CONTROLLING INT,NET INCOME COM,NET PROFIT MARGIN,OPERATING EXPENSES,OPERATING INCOME,PREFERRED DIVIDENDS,PROFIT MARGIN,R&D EXPENSES,REVENUE,REVENUE GROWTH,SG&A EXPENSE,WEIGHTED AVERAGE SHS OUT,WEIGHTED AVERAGE SHS OUT (DIL),ASSET GROWTH,AVERAGE INVENTORY,AVERAGE PAYABLES,AVERAGE RECEIVABLES,BOOK VALUE PER SHARE,BOOK VALUE PER SHARE GROWTH,CAPEX PER SHARE,CAPEX TO DEPRECIATION,CAPEX TO OPERATING CASH FLOW,CAPEX TO REVENUE,CASH CONVERSION CYCLE,CASH PER SHARE,CURRENT RATIO,DAYS OF INVENTORY OUTSTANDING,DAYS OF PAYABLES OUTSTANDING,DAYS OF SALES OUTSTANDING,DEBT EQUITY RATIO,DEBT GROWTH,DEBT RATIO,DEBT TO ASSETS,DEBT TO EQUITY,DIVIDEND YIELD,DIVIDENDS PER SHARE GROWTH,EARNINGS YIELD,EBIT GROWTH,ENTERPRISE VALUE,ENTERPRISE VALUE OVER EBITDA,EPS DILUTED GROWTH,EPS GROWTH,EV TO FREE CASH FLOW,EV TO OPERATING CASH FLOW,EV TO SALES,FREE CASH FLOW GROWTH,FREE CASH FLOW PER SHARE,FREE CASH FLOW YIELD,GRAHAM NET-NET,GRAHAM NUMBER,GROSS PROFIT GROWTH,INCOME QUALITY,INTANGIBLES TO TOTAL ASSETS,INTEREST COVERAGE,INTEREST DEBT PER SHARE,INVENTORY GROWTH,INVENTORY TURNOVER,INVESTED CAPITAL,MARKET CAP,NET CURRENT ASSET VALUE,NET DEBT TO EBITDA,NET INCOME GROWTH,NET INCOME PER SHARE,OPERATING CASH FLOW GROWTH,OPERATING CASH FLOW PER SHARE,OPERATING CYCLE,OPERATING INCOME GROWTH,PAYABLES TURNOVER,PAYOUT RATIO,PB RATIO,PE RATIO,PFCF RATIO,POCF RATIO,PRICE BOOK VALUERATIO,PRICE EARNINGS RATIO,PRICE TO BOOK RATIO,PRICE TO FREE CASH FLOWS RATIO,PRICE TO OPERATING CASH FLOWS RATIO,PRICE TO SALES RATIO,PTB RATIO,R&D EXPENSE GROWTH,R&D TO REVENUE,RECEIVABLES GROWTH,RECEIVABLES TURNOVER,RETURN ON ASSETS,RETURN ON CAPITAL EMPLOYED,RETURN ON EQUITY,REVENUE PER SHARE,SG&A EXPENSES GROWTH,SG&A TO REVENUE,SHAREHOLDERS EQUITY PER SHARE,STOCK-BASED COMPENSATION TO REVENUE,TANGIBLE ASSET VALUE,TANGIBLE BOOK VALUE PER SHARE,WEIGHTED AVERAGE SHARES DILUTED GROWTH,WEIGHTED AVERAGE SHARES GROWTH,WORKING CAPITAL,pandemic_index,ev_index,uselections_index,covid_index,exxon_index,pioneer_index,philips66_index,occidental_index,marathon_index,conoco_index,chevron_index,bpplc_index
0,VLO,USD,VALERO ENERGY CORPORATION,79.03,2021-03-05,2021Q1,10435.92,31496.3,13627.98,814.03,3841.94,-5.058824,1.060465,6.37605,-15.416667,-24.074074,-17.755716,NaN,3,2021,56.25,13.56,8.49,NaN,NaN,NaN,69.95,66.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.211111,NaN,NaN,-0.433333,-0.098429,0.4,-0.071739,-0.105495,NaN,-0.209375,-0.258333

In [373]:
df16.to_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/merge5.csv')

# **Rough**

In [118]:
df0=pd.merge(gse1,fs1,how="inner",left_on=["Ticker_gse",'yearQuar_gse'],right_on=["Ticker_fs",'yearQuar_fs'])

In [119]:
print(df0.shape)
df0.head()

(655522, 12)

  Ticker_gse Currency_gse  ... yearQuar_fs      Value_fs
0        VLO          USD  ...      2020Q3 -3.370000e+08
1        VLO          USD  ...      2020Q3 -2.620000e+00
2        VLO          USD  ...      2020Q3 -6.210000e+08
3        VLO          USD  ...      2020Q3 -1.109000e+09
4        VLO          USD  ...      2020Q3 -1.480100e+10

[5 rows x 12 columns]

In [126]:
df0=df0[['Ticker_gse','Stock Name_gse','Date Value_gse','Value_gse','yearQuar_gse','Industry Level 2_fs','Financial Metric_fs','Value_fs']]
df0.head()

  Ticker_gse             Stock Name_gse  ... Financial Metric_fs      Value_fs
0        VLO  VALERO ENERGY CORPORATION  ...  INCOME TAX EXPENSE -3.370000e+08
1        VLO  VALERO ENERGY CORPORATION  ...                 EPS -2.620000e+00
2        VLO  VALERO ENERGY CORPORATION  ...    OPERATING INCOME -6.210000e+08
3        VLO  VALERO ENERGY CORPORATION  ...                EBIT -1.109000e+09
4        VLO  VALERO ENERGY CORPORATION  ...        GROSS PROFIT -1.480100e+10

[5 rows x 8 columns]

In [135]:
#df0.to_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/hey.csv')

In [121]:
df0[(df0['Ticker_gse']=='VLO')&(df0['Financial Metric_fs']=='EPS')]

      Ticker_gse             Stock Name_gse  ... Financial Metric_fs  Value_fs
1            VLO  VALERO ENERGY CORPORATION  ...                 EPS     -2.62
26           VLO  VALERO ENERGY CORPORATION  ...                 EPS     -2.62
51           VLO  VALERO ENERGY CORPORATION  ...                 EPS     -2.62
76           VLO  VALERO ENERGY CORPORATION  ...                 EPS     -2.62
101          VLO  VALERO ENERGY CORPORATION  ...                 EPS     -2.62
...          ...                        ...  ...                 ...       ...
75945        VLO  VALERO ENERGY CORPORATION  ...                 EPS     -0.48
75972        VLO  VALERO ENERGY CORPORATION  ...                 EPS     -0.48
75999        VLO  VALERO ENERGY CORPORATION  ...                 EPS     -0.48
76026        VLO  VALERO ENERGY CORPORATION  ...                 EPS     -0.48
76053        VLO  VALERO ENERGY CORPORATION  ...                 EPS     -0.48

[2892 rows x 8 columns]

In [4]:
fsr =pd.read_csv('/content/drive/MyDrive/Stock Sentiment /New folder/Financial Statement Ratios/i2h52hilsvgnu37f39ac.csv')
fsr=fsr[fsr['Time Level']=='QUARTER']
print(fsr.shape)
fsr.head(1)

(54765, 18)

    Super Region            Sector Ticker  ...  Value  Date Value Period Value
0  UNITED STATES  FINANCIAL MARKET     BP  ...  17.61  2018-11-02            d

[1 rows x 18 columns]

In [7]:
fsr=fsr[fsr['Unit']=='RATIOS']
fsr.shape

(9256, 18)

In [8]:
fsr1=fsr[['Ticker','Company Performance Indicator','Value','Date Value']]
print(fsr1.shape)
fsr1.head(1)

(9256, 4)

    Ticker Company Performance Indicator  Value  Date Value
163     BP            INVENTORY TURNOVER  -0.46  2018-12-31

In [9]:
fsr1=fsr1.pivot_table(index=['Ticker','Date Value'],columns=['Company Performance Indicator'],values='Value')
fsr1.reset_index(inplace=True)
fsr1.head()

Company Performance Indicator Ticker  ... RETURN ON EQUITY
0                               BHGE  ...             0.02
1                               BHGE  ...             0.01
2                               BHGE  ...             0.02
3                               BHGE  ...             0.05
4                               BHGE  ...             0.01

[5 rows x 27 columns]

In [215]:
fsr['Date Value']=pd.to_datetime(fsr['Date Value'])

In [216]:
fsr['month']=pd.DatetimeIndex(fsr['Date Value']).month
fsr['year']=pd.DatetimeIndex(fsr['Date Value']).year

In [217]:
conditions = [
    (fsr['month'] <= 3),
    (fsr['month'] > 3) & (fsr['month'] <= 6),
    (fsr['month'] > 6) & (fsr['month'] <= 9),
    (fsr['month'] > 9)
    ]

values = ['Q1', 'Q2', 'Q3', 'Q4']

fsr['fiscal_quarter'] = np.select(conditions, values)

In [218]:
fsr['yearQuar']=fsr['year'].astype(str)+fsr['fiscal_quarter']
fsr=fsr[fsr['Time Level']=='QUARTER']
fsr = fsr.add_suffix('_fsr')
fsr.head(1)

  Super Region_fsr        Sector_fsr  ... fiscal_quarter_fsr yearQuar_fsr
0    UNITED STATES  FINANCIAL MARKET  ...                 Q4       2018Q4

[1 rows x 22 columns]

In [219]:
fsr1=fsr[['Ticker_fsr','Company Performance Indicator_fsr','Value_fsr','Date Value_fsr','yearQuar_fsr']]
print(fsr1.shape)
fsr1.head(1)

(54765, 5)

  Ticker_fsr Company Performance Indicator_fsr  ...  Date Value_fsr yearQuar_fsr
0         BP                 NET INCOME GROWTH  ...      2018-11-02       2018Q4

[1 rows x 5 columns]

In [212]:
fsr1=fsr1.pivot_table(index=['Ticker_fsr','Date Value_fsr'],columns=['Company Performance Indicator_fsr'],values='Value_fsr')
fsr1.reset_index(inplace=True)
fsr1.head()

Company Performance Indicator_fsr Ticker_fsr  ... WORKING CAPITAL
0                                       BHGE  ...             NaN
1                                       BHGE  ...             NaN
2                                       BHGE  ...             NaN
3                                       BHGE  ...             NaN
4                                       BHGE  ...             NaN

[5 rows x 86 columns]

In [147]:
df1=pd.merge(gse1,fsr1,how="inner",left_on=['Ticker_gse','yearQuar_gse'],right_on=['Ticker_fsr','yearQuar_fsr'])
df1.drop(columns=['Ticker_fsr','yearQuar_fsr'],inplace=True)
print(df1.shape)
df1.head(1)

(2672204, 8)

  Ticker_gse Currency_gse  ... Company Performance Indicator_fsr  Value_fsr
0        VLO          USD  ...                    DEBT TO ASSETS        0.6

[1 rows x 8 columns]

In [22]:
stk_mkt_indic=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Stock Market Indicators& Index/s58huu468597q4324lj0.csv')
print(stk_mkt_indic.shape)
stk_mkt_indic.head(1)

(13483, 13)

                        Sub-Sector   Super Region  ...  Date Value Period Value
0  STOCK MARKET INDICATORS & INDEX  UNITED STATES  ...  2021-03-17            d

[1 rows x 13 columns]

In [24]:
stk_mkt_indic1=stk_mkt_indic[['Description','Value','Date Value']]
stk_mkt_indic1.head(2)

                 Description   Value  Date Value
0  DOW JONES UTILITY AVERAGE  847.92  2021-03-17
1  DOW JONES UTILITY AVERAGE  859.04  2021-03-16

In [25]:
stk_mkt_indic1['Date Value']=pd.to_datetime(stk_mkt_indic1['Date Value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
stk_mkt_indic1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13483 entries, 0 to 13482
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Description  13483 non-null  object
 1   Value        13483 non-null  float64
 2   Date Value   13483 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 316.1+ KB

In [27]:
stk_mkt_indic2=stk_mkt_indic1.pivot(index='Date Value',columns='Description', values='Value')

In [28]:
stk_mkt_indic2.reset_index(inplace=True)

stk_mkt_indic2.columns

Index(['Date Value', 'DOW JONES COMPOSITE AVERAGE',
       'DOW JONES INDUSTRIAL AVERAGE', 'DOW JONES TRANSPORTATION AVERAGE',
       'DOW JONES UTILITY AVERAGE', 'S&P 500'],
      dtype='object', name='Description')

In [29]:
stk_mkt_indic2.head(2)

Description Date Value  ...  S&P 500
0           2009-10-31  ...  1185.64
1           2009-11-01  ...  1199.73

[2 rows x 6 columns]

In [30]:
stk_mkt_indic2['Date Value']=pd.to_datetime(stk_mkt_indic2['Date Value'])
stk_mkt_indic2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2697 entries, 0 to 2696
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date Value                        2697 non-null   datetime64[ns]
 1   DOW JONES COMPOSITE AVERAGE       2697 non-null   float64
 2   DOW JONES INDUSTRIAL AVERAGE      2697 non-null   float64
 3   DOW JONES TRANSPORTATION AVERAGE  2697 non-null   float64
 4   DOW JONES UTILITY AVERAGE         2697 non-null   float64
 5   S&P 500                           2695 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 126.5 KB

In [32]:
df2=pd.merge(gse1,stk_mkt_indic2,how="left",left_on="Date Value_gse",right_on="Date Value")
df2.drop(columns=['Date Value'],inplace=True)

In [33]:
df2.shape

(80489, 11)

In [34]:
df2.head(2)

  Ticker_gse Currency_gse  ... DOW JONES UTILITY AVERAGE  S&P 500
0        VLO          USD  ...                    814.03  3841.94
1        VLO          USD  ...                    800.17  3768.47

[2 rows x 11 columns]

In [35]:
mobility_index=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Google Mobility Index/2d0lk12k3iko98reg4dl.csv')
print(mobility_index.shape)
mobility_index.head(2)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,4,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(3253186, 15)

              Sub-Sector Super Region  ...  Date Value Period Value
0  GOOGLE MOBILITY INDEX  GLOBAL DATA  ...  2021-03-13            d
1  GOOGLE MOBILITY INDEX  GLOBAL DATA  ...  2021-03-12            d

[2 rows x 15 columns]

In [36]:
mobility_index['Date Value']=pd.to_datetime(mobility_index['Date Value'])

In [37]:
mobility_index_usa=mobility_index[mobility_index['Country Region']=='UNITED STATES']
mobility_index_usa.shape

(525582, 15)

In [38]:
mobility_index_usa=mobility_index_usa[['Indicator','Value','Date Value']]
mobility_index_usa.head(2)

                                 Indicator  Value Date Value
124586  PARKS PERCENT CHANGE FROM BASELINE   14.0 2021-03-13
124587  PARKS PERCENT CHANGE FROM BASELINE   16.0 2021-03-12

In [39]:
mobility_index_usa1=mobility_index_usa.pivot_table(index='Date Value',columns='Indicator',values='Value')

In [40]:
mobility_index_usa1.reset_index(inplace=True)
mobility_index_usa1.columns

Index(['Date Value', 'GROCERY AND PHARMACY PERCENT CHANGE FROM BASELINE',
       'PARKS PERCENT CHANGE FROM BASELINE',
       'RESIDENTIAL PERCENT CHANGE FROM BASELINE',
       'RETAIL AND RECREATION PERECENT CHANGE FROM BASELINE',
       'TRANSIT STATIONS PERCENT CHANGE FROM BASELINE',
       'WORKPLACES PERCENT CHANGE FROM BASELINE'],
      dtype='object', name='Indicator')

In [41]:
df3=pd.merge(df2,mobility_index_usa1,how="left",left_on="Date Value_gse",right_on="Date Value")

In [42]:
df3.shape

(80489, 18)

In [43]:
df3.head()

  Ticker_gse  ... WORKPLACES PERCENT CHANGE FROM BASELINE
0        VLO  ...                              -17.755716
1        VLO  ...                              -18.311765
2        VLO  ...                              -18.240893
3        VLO  ...                              -18.435142
4        VLO  ...                              -17.697867

[5 rows x 18 columns]

In [44]:
df3.to_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/merge1.csv')

In [193]:
interest_rates=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Interest Rates/2i7k5mf996s32uuiu57p.csv')
print(interest_rates.shape)
interest_rates.info()

(2380, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2380 entries, 0 to 2379
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sub-Sector      2380 non-null   object
 1   Super Region    2380 non-null   object
 2   Sector          2380 non-null   object
 3   Measure         2380 non-null   object
 4   Frequency       2380 non-null   object
 5   Region          2380 non-null   object
 6   Source          2380 non-null   object
 7   Indicator       2380 non-null   object
 8   Subject         2380 non-null   object
 9   Super Region.1  2380 non-null   object
 10  Value           2380 non-null   float64
 11  Date Value      2380 non-null   object
 12  Period Value    2380 non-null   object
dtypes: float64(1), object(12)
memory usage: 241.8+ KB

In [194]:
interest_rates.head(2)

       Sub-Sector Super Region  ...  Date Value Period Value
0  INTEREST RATES  GLOBAL DATA  ...  2015-03-31            d
1  INTEREST RATES  GLOBAL DATA  ...  2014-12-31            d

[2 rows x 13 columns]

In [ ]:
#Rough

In [ ]:
fsr = fsr.add_suffix('_fsr')
fsr_xom = fsr[fsr['Ticker_fsr']=='XOM']
print(fsr_xom.shape)
fsr_xom.head(2)

In [36]:
hey=pd.merge(gse,g,how="inner",left_on=["Ticker_gse","month","year"],
                                         right_on=["Ticker_fs","month","year"])

In [37]:
hey.head()

               Sub-Sector_gse Super Region_gse  ... Date Value_fs Period Value_fs
0  GLOBAL STOCK EXCHANGE DATA      GLOBAL DATA  ...    2020-09-30               d
1  GLOBAL STOCK EXCHANGE DATA      GLOBAL DATA  ...    2020-09-30               d
2  GLOBAL STOCK EXCHANGE DATA      GLOBAL DATA  ...    2020-09-30               d
3  GLOBAL STOCK EXCHANGE DATA      GLOBAL DATA  ...    2020-09-30               d
4  GLOBAL STOCK EXCHANGE DATA      GLOBAL DATA  ...    2020-09-30               d

[5 rows x 37 columns]

In [6]:
fs_xom=fs[fs['Ticker_fs']=='XOM']
print(fs_xom.shape)
fs_xom.head(1)

(1521, 19)

    Super Region_fs         Sector_fs  ... Date Value_fs Period Value_fs
609   UNITED STATES  FINANCIAL MARKET  ...    2019-12-31               d

[1 rows x 19 columns]

In [12]:

fs_xom['Date Value_fs']=pd.to_datetime(fs_xom['Date Value_fs'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
fs_xom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1521 entries, 609 to 15555
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Super Region_fs      1521 non-null   object
 1   Sector_fs            1521 non-null   object
 2   Ticker_fs            1521 non-null   object
 3   Time Level_fs        1521 non-null   object
 4   Unit_fs              1521 non-null   object
 5   Source_fs            1521 non-null   object
 6   Exchange_fs          1521 non-null   object
 7   Sub-Sector_fs        1521 non-null   object
 8   Company Name_fs      1521 non-null   object
 9   Industry Level 2_fs  1521 non-null   object
 10  Industry Level 1_fs  1521 non-null   object
 11  Company Website_fs   1521 non-null   object
 12  Statement Type_fs    1521 non-null   object
 13  Market Cap_fs        1521 non-null   object
 14  Financial Metric_fs  1521 non-null   object
 15  Super Region.1_fs    1521 non-null   object
 16  Value_fs             1521 non-null   float64
 17  Date Value_fs        1521 non-null   datetime64[ns]
 18  Period Value_fs      1521 non-null   object
dtypes: datetime64[ns](1), float64(1), object(17)
memory usage: 237.7+ KB

In [14]:
fs_xom[fs_xom['Financial Metric_fs']=='GROSS PROFIT'].sort_values(by=['Date Value_fs'])

      Super Region_fs         Sector_fs  ... Date Value_fs Period Value_fs
10229   UNITED STATES  FINANCIAL MARKET  ...    2009-06-30               d
10228   UNITED STATES  FINANCIAL MARKET  ...    2009-09-30               d
10227   UNITED STATES  FINANCIAL MARKET  ...    2009-12-31               d
630     UNITED STATES  FINANCIAL MARKET  ...    2009-12-31               d
10226   UNITED STATES  FINANCIAL MARKET  ...    2010-03-31               d
10225   UNITED STATES  FINANCIAL MARKET  ...    2010-06-30               d
10224   UNITED STATES  FINANCIAL MARKET  ...    2010-09-30               d
629     UNITED STATES  FINANCIAL MARKET  ...    2010-12-31               d
10223   UNITED STATES  FINANCIAL MARKET  ...    2010-12-31               d
10222   UNITED STATES  FINANCIAL MARKET  ...    2011-03-31               d
10221   UNITED STATES  FINANCIAL MARKET  ...    2011-06-30               d
10220   UNITED STATES  FINANCIAL MARKET  ...    2011-09-30               d
10219   UNITED STATES  FINANCIAL MARKET  ...    2011-12-31               d
628     UNITED STATES  FINANCIAL MARKET  ...    2011-12-31               d
10218   UNITED STATES  FINANCIAL MARKET  ...    2012-03-31               d
10217   UNITED STATES  FINANCIAL MARKET  ...    2012-06-30               d
10216   UNITED STATES  FINANCIAL MARKET  ...    2012-09-30               d
10215   UNITED STATES  FINANCIAL MARKET  ...    2012-11-06               d
627     UNITED STATES  FINANCIAL MARKET  ...    2012-12-31               d
10214   UNITED STATES  FINANCIAL MARKET  ...    2012-12-31               d
10213   UNITED STATES  FINANCIAL MARKET  ...    2013-03-31               d
10212   UNITED STATES  FINANCIAL MARKET  ...    2013-06-30               d
10211   UNITED STATES  FINANCIAL MARKET  ...    2013-09-30               d
10210   UNITED STATES  FINANCIAL MARKET  ...    2013-12-31               d
626     UNITED STATES  FINANCIAL MARKET  ...    2013-12-31               d
10209   UNITED STATES  FINANCIAL MARKET  ...    2014-03-31               d
10208   UNITED STATES  FINANCIAL MARKET  ...    2014-06-30               d
10207   UNITED STATES  FINANCIAL MARKET  ...    2014-09-30               d
625     UNITED STATES  FINANCIAL MARKET  ...    2014-12-31               d
10206   UNITED STATES  FINANCIAL MARKET  ...    2014-12-31               d
10205   UNITED STATES  FINANCIAL MARKET  ...    2015-03-31               d
10204   UNITED STATES  FINANCIAL MARKET  ...    2015-06-30               d
10203   UNITED STATES  FINANCIAL MARKET  ...    2015-09-30               d
624     UNITED STATES  FINANCIAL MARKET  ...    2015-12-31               d
10202   UNITED STATES  FINANCIAL MARKET  ...    2015-12-31               d
10201   UNITED STATES  FINANCIAL MARKET  ...    2016-03-31               d
10200   UNITED STATES  FINANCIAL MARKET  ...    2016-06-30               d
10199   UNITED STATES  FINANCIAL MARKET  ...    2016-09-30               d
10198   UNITED STATES  FINANCIAL MARKET  ...    2016-12-31               d
623     UNITED STATES  FINANCIAL MARKET  ...    2016-12-31               d
10197   UNITED STATES  FINANCIAL MARKET  ...    2017-03-31               d
10196   UNITED STATES  FINANCIAL MARKET  ...    2017-06-30               d
10195   UNITED STATES  FINANCIAL MARKET  ...    2017-09-30               d
10194   UNITED STATES  FINANCIAL MARKET  ...    2017-12-31               d
622     UNITED STATES  FINANCIAL MARKET  ...    2017-12-31               d
10193   UNITED STATES  FINANCIAL MARKET  ...    2018-03-31               d
10192   UNITED STATES  FINANCIAL MARKET  ...    2018-06-30               d
10191   UNITED STATES  FINANCIAL MARKET  ...    2018-09-30               d
10190   UNITED STATES  FINANCIAL MARKET  ...    2018-12-31               d
621     UNITED STATES  FINANCIAL MARKET  ...    2018-12-31               d
10189   UNITED STATES  FINANCIAL MARKET  ...    2019-03-31               d
10188   UNITED STATES  FINANCIAL MARKET  ...    2019-06-30               d
10187   UNITED STATES  FINANCIAL MARKET  ...    2019-09-30               d
10186   UNITED STATES  FINANCIAL MARKET  ...    2019-12-31               d
620     UNITED STATES  FINANCIAL MARKET  ...    2019-12-31               d
10185   UNITED STATES  FINANCIAL MARKET  ...    2020-03-31               d
10184   UNITED STATES  FINANCIAL MARKET  ...    2020-06-30               d

[57 rows x 19 columns]

In [ ]:
fs_xom

In [67]:
fs_xom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1223 entries, 622 to 12191
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Super Region_fs      1223 non-null   object
 1   Sector_fs            1223 non-null   object
 2   Ticker_fs            1223 non-null   object
 3   Time Level_fs        1223 non-null   object
 4   Unit_fs              1223 non-null   object
 5   Source_fs            1223 non-null   object
 6   Exchange_fs          1223 non-null   object
 7   Sub-Sector_fs        1223 non-null   object
 8   Company Name_fs      1223 non-null   object
 9   Industry Level 2_fs  1223 non-null   object
 10  Industry Level 1_fs  1223 non-null   object
 11  Company Website_fs   1223 non-null   object
 12  Statement Type_fs    1223 non-null   object
 13  Market Cap_fs        1223 non-null   object
 14  Financial Metric_fs  1223 non-null   object
 15  Super Region.1_fs    1223 non-null   object
 16  Value_fs             1223 non-null   float64
 17  Date Value_fs        1223 non-null   object
 18  Period Value_fs      1223 non-null   object
dtypes: float64(1), object(18)
memory usage: 191.1+ KB

In [65]:
fs_xom['Financial Metric_fs'].value_counts()

OPERATING INCOME                    46
EARNINGS BEFORE TAX                 46
INTEREST EXPENSE                    46
EBITDA                              46
EBIT                                46
INCOME TAX EXPENSE                  46
NET INCOME                          46
GROSS PROFIT                        46
EBITDA MARGIN                       46
SG&A EXPENSE                        46
NET PROFIT MARGIN                   46
REVENUE                             46
CONSOLIDATED INCOME                 46
PROFIT MARGIN                       46
NET INCOME COM                      46
COST OF REVENUE                     45
EARNINGS BEFORE TAX MARGIN          45
EBIT MARGIN                         45
GROSS MARGIN                        45
REVENUE GROWTH                      45
OPERATING EXPENSES                  44
DIVIDEND PER SHARE                  44
EPS                                 43
EPS DILUTED                         43
WEIGHTED AVERAGE SHS OUT            43
WEIGHTED AVERAGE SHS OUT (DIL)      43
FREE CASH FLOW MARGIN               43
NET INCOME - NON-CONTROLLING INT     4
R&D EXPENSES                         1
Name: Financial Metric_fs, dtype: int64

In [73]:
fs_xom['Time Level_fs'].value_counts()

QUARTER    1223
ANNUAL      298
Name: Time Level_fs, dtype: int64

In [ ]:
fsr =pd.read_csv('/content/drive/MyDrive/Stock Sentiment /New folder/Financial Statement Ratios/i2h52hilsvgnu37f39ac.csv')
fsr = fsr.add_suffix('_fsr')
fsr_xom = fsr[fsr['Ticker_fsr']=='XOM']
print(fsr_xom.shape)
fsr_xom.head(2)

(9907, 18)

     Super Region_fsr        Sector_fsr  ... Date Value_fsr Period Value_fsr
6220    UNITED STATES  FINANCIAL MARKET  ...     2020-06-30                d
6221    UNITED STATES  FINANCIAL MARKET  ...     2020-03-31                d

[2 rows x 18 columns]

In [ ]:
stk_indic=pd.read_csv('/content/drive/MyDrive/Stock Sentiment /New folder/Stock Market Indicators& Index/s58huu468597q4324lj0.csv')
stk_indic=stk_indic.add_suffix('_stkindic')
print(stk_indic.shape)
stk_indic.head(2)

(13483, 13)

               Sub-Sector_stkindic  ... Period Value_stkindic
0  STOCK MARKET INDICATORS & INDEX  ...                     d
1  STOCK MARKET INDICATORS & INDEX  ...                     d

[2 rows x 13 columns]

In [ ]:
comm_price=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Commodity Prices/5m7ivmo8f9callebascq.csv')
comm_price=comm_price.add_suffix('_comm')
print(comm_price.shape)
comm_price.head(2)

(132741, 11)

    Sub-Sector_comm Super Region_comm  ... Date Value_comm Period Value_comm
0  COMMODITY PRICES       GLOBAL DATA  ...      2021-03-15                 d
1  COMMODITY PRICES       GLOBAL DATA  ...      2021-03-12                 d

[2 rows x 11 columns]

In [ ]:
mob_index=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Google Mobility Index/2d0lk12k3iko98reg4dl.csv')
mob_index=mob_index.add_suffix('_mob')
mob_index_usa=mob_index[mob_index['Country Region_mob']=='UNITED STATES']
print(mob_index_usa.shape)
mob_index_usa.head(2)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,4,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(525582, 15)

               Sub-Sector_mob Super Region_mob  ... Date Value_mob Period Value_mob
124586  GOOGLE MOBILITY INDEX      GLOBAL DATA  ...     2021-03-13                d
124587  GOOGLE MOBILITY INDEX      GLOBAL DATA  ...     2021-03-12                d

[2 rows x 15 columns]

In [ ]:
jodi_oil=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Jodi Oil Data/h4sb9s0uhfr4vaoa7v17.csv')
jodi_oil=jodi_oil.add_suffix('_jodi')
jodi_oil_usa=jodi_oil[jodi_oil['Country_jodi']=='UNITED STATES']
print(jodi_oil_usa.shape)
jodi_oil_usa.head(2)

(223, 13)

               Sub-Sector_jodi  ... Period Value_jodi
15720  JODI OIL-WORLD DATABASE  ...                 d
15721  JODI OIL-WORLD DATABASE  ...                 d

[2 rows x 13 columns]

In [ ]:
sh_energy=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/SHORT TERM ENERGY OUTLOOK/8ilqmr24qtrr3f5s8f8j.csv')
sh_energy=sh_energy.add_suffix('_shenergy')
print(sh_energy.shape)
sh_energy.head(2)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(515877, 13)

         Sub-Sector_shenergy  ... Period Value_shenergy
0  SHORT-TERM ENERGY OUTLOOK  ...                     q
1  SHORT-TERM ENERGY OUTLOOK  ...                     q

[2 rows x 13 columns]

In [ ]:
ene_futu=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Energy Future Prices/3mkohk9h3ttrtcr6250j.csv')
ene_futu=ene_futu.add_suffix('_enerfutr')
ene_futu.head(2)

     Sub-Sector_enerfutr  ...  Period Value_enerfutr
0  ENERGY FUTURES PRICES  ...                      d
1  ENERGY FUTURES PRICES  ...                      d

[2 rows x 16 columns]

In [ ]:
inte_prices=pd.read_csv(r'/content/drive/MyDrive/Stock Sentiment /New folder/Interest Rates/2i7k5mf996s32uuiu57p.csv')
inter_prices=inte_prices.add_suffix('_interprice')
inter_prices.head(2)

  Sub-Sector_interprice  ... Period Value_interprice
0        INTEREST RATES  ...                       d
1        INTEREST RATES  ...                       d

[2 rows x 13 columns]

In [ ]:
df0 = pd.merge(gse_xom,fs_xom,how="inner",left_on=["Ticker_gse",'Date Value_gse'],right_on=['Ticker_fs','Date Value_fs'])
print(df0.shape)

(849, 35)

In [ ]:
df1 = pd.merge(df0,fsr_xom,how="inner",left_on=["Ticker_gse",'Date Value_gse'],right_on=['Ticker_fsr','Date Value_fsr'])
df1.shape

(87695, 53)

In [ ]:
df1.head(2)

               Sub-Sector_gse Super Region_gse  ... Date Value_fsr Period Value_fsr
0  GLOBAL STOCK EXCHANGE DATA      GLOBAL DATA  ...     2020-06-30                d
1  GLOBAL STOCK EXCHANGE DATA      GLOBAL DATA  ...     2020-06-30                d

[2 rows x 53 columns]

In [ ]:
df2=pd.merge(mob_index_usa,jodi_oil_usa,how="inner",left_on='Date Value_mob',right_on='Date Value_jodi')
print(df2.shape)
df2.head(2)

(6752, 28)

          Sub-Sector_mob Super Region_mob  ... Date Value_jodi Period Value_jodi
0  GOOGLE MOBILITY INDEX      GLOBAL DATA  ...      2020-07-01                 d
1  GOOGLE MOBILITY INDEX      GLOBAL DATA  ...      2020-07-01                 d

[2 rows x 28 columns]

In [ ]:
df3=pd.merge(df2,sh_energy,left_on='Date Value_mob',right_on='Date Value_shenergy')
print(df3.shape)
df3.head(2)

(0, 41)

Empty DataFrame
Columns: [Sub-Sector_mob, Super Region_mob, Metro Area_mob, Sector_mob, Sub Region 2_mob, Frequency_mob, Country Region_mob, Sub Region 1_mob, Unit_mob, Source_mob, Indicator_mob, Super Region.1_mob, Value_mob, Date Value_mob, Period Value_mob, Sub-Sector_jodi, Super Region_jodi, Energy Product_jodi, Sector_jodi, Flow Breakdown_jodi, Time Level_jodi, Country_jodi, Unit of Measurement_jodi, Source_jodi, Super Region.1_jodi, Value_jodi, Date Value_jodi, Period Value_jodi, Sub-Sector_shenergy, Super Region_shenergy, Sub-Sector Level 2_shenergy, Sector_shenergy, Sub-Sector Level 4_shenergy, Sub-Sector Level 3_shenergy, Time Level_shenergy, Unit_shenergy, Source_shenergy, Super Region.1_shenergy, Value_shenergy, Date Value_shenergy, Period Value_shenergy]
Index: []

In [ ]:
df4=pd.merge(df1,df2,how="inner",left_on='Date Value_gse',right_on='Date Value_mob')
print(df4.shape)
df4.head(2)

(0, 81)

Empty DataFrame
Columns: [Sub-Sector_gse, Super Region_gse, Sector_gse, Stock Attribute_gse, Ticker_gse, Currency_gse, Time Level_gse, Data Provider_gse, Source_gse, Stock Exchange_gse, Stock Name_gse, Location_gse, Super Region.1_gse, Value_gse, Date Value_gse, Period Value_gse, Super Region_fs, Sector_fs, Ticker_fs, Time Level_fs, Unit_fs, Source_fs, Exchange_fs, Sub-Sector_fs, Company Name_fs, Industry Level 2_fs, Industry Level 1_fs, Company Website_fs, Statement Type_fs, Market Cap_fs, Financial Metric_fs, Super Region.1_fs, Value_fs, Date Value_fs, Period Value_fs, Super Region_fsr, Sector_fsr, Ticker_fsr, Time Level_fsr, Unit_fsr, Source_fsr, Exchange_fsr, Sub-Sector_fsr, Company Name_fsr, Industry Level 2_fsr, Industry Level 1_fsr, Company Website_fsr, Company Performance Indicator_fsr, Market Cap_fsr, Super Region.1_fsr, Value_fsr, Date Value_fsr, Period Value_fsr, Sub-Sector_mob, Super Region_mob, Metro Area_mob, Sector_mob, Sub Region 2_mob, Frequency_mob, Country Region_mob, Sub Region 1_mob, Unit_mob, Source_mob, Indicator_mob, Super Region.1_mob, Value_mob, Date Value_mob, Period Value_mob, Sub-Sector_jodi, Super Region_jodi, Energy Product_jodi, Sector_jodi, Flow Breakdown_jodi, Time Level_jodi, Country_jodi, Unit of Measurement_jodi, Source_jodi, Super Region.1_jodi, Value_jodi, Date Value_jodi, Period Value_jodi]
Index: []

[0 rows x 81 columns]